[2014-07-06 19:56] JensRantil opened #27 "Add goleveldb"
https://github.com/syndtr/goleveldb

[2014-07-06 20:03] #27 closed, assigned to nobody

[2014-07-06 20:36] petar opened #31 "Circuit"
Hi :)

Could I ask you to include this:

  https://github.com/gocircuit/circuit

It is a well-funded DEVOPS and Numerical Science / Data Mining orchestration framework.

Thank you
Petar

[2014-07-06 20:48] #31 closed, assigned to nobody

[2014-07-06 21:52] dmitshur opened #38 "Higher level separation."
Currently, there are two high level categories:
- Awesome Go
  - Both importable Go libraries, but also DevOps tools, Utilities, etc.
- Resources

I would change that to be three:
- Awesome Go
  - (Only importable Go libraries that people would use in their code)
- Go Tools
  - (Go binaries, plugins for editors, websites like gocover.io, etc., but no importable code)
- Resources

---

Some current

[2014-07-07 01:56] mholt opened #51 "Contribution guidelines? And quality checks? Updates?"
Lists like this have been made before and have these problems (many of which are highlighted in HN comments) -- some over time, and some immediately:
- Some packages are often broken (weak deployment discipline)
- Links break, names change
- Some packages are largely incomplete or experimental
- Packages become abandoned (projects lacks interest or following)
- Ordering is contrived (or manipulate

[2014-07-07 13:17] renatosuero opened #62 "Snowball Duplicate"
It has different repository,but same name

[2014-07-07 13:36] #62 closed, assigned to nobody

[2014-07-07 15:14] mholt opened #66 "Bring existing list into conformity with contribution guidelines"
I drafted up a [contribution guidelines](https://github.com/avelino/awesome-go/blob/master/CONTRIBUTING.md) page just to get something started. (Feedback is welcome.)

If it looks mostly good, we should start updating the list as it stands to help it to conform with the quality standards. This mainly means:

- [x] Sort items alphabetically (should categories be alphabetical, too?)
- [ ] Remove ite

[2014-07-07 18:54] dukex opened #72 "Github Page build"
Hi guys, I think is a cool idea build the README.md into github page using gh-pages branch as http://dukex.github.io/awesome-go/

[2014-07-07 19:11] hoffoo opened #73 "go-nude"
I am not sure if this should be included: https://github.com/koyachi/go-nude

Its a really cool but niche project. Personally I think it should, if only for reference of how to do this kind of thing, even if not a lot of people would need it.

[2014-07-07 19:28] matrixik opened #75 "Community benchmarks"
Hi,

do you think that benchmarks of different packages also could be included in this list?

https://github.com/julienschmidt/go-http-routing-benchmark
https://github.com/alecthomas/go_serialization_benchmarks
https://github.com/hgfischer/go-type-assertion-benchmark
https://github.com/fawick/speedtest-resize
https://github.com/jimrobinson/kvbench
https://github.com/davecheney/autobench

Cheers

[2014-07-08 02:22] #73 closed, assigned to nobody

[2014-07-08 02:44] #72 closed, assigned to nobody

[2014-07-08 19:00] #38 closed, assigned to nobody

[2014-07-08 19:01] #51 closed, assigned to nobody

[2014-07-09 02:04] avelino opened #100 "Custom page style"
http://awesome-go.com/

[2014-07-09 19:56] #75 closed, assigned to nobody

[2014-07-10 06:08] mihai-vlc opened #112 "Adding this in an organization"
How do you feel about moving this or have a maintained copy of this in an organization ?
I think it would be better to have them all in one organization.

As a recommendation we could use https://github.com/awesomeorg

[2014-07-10 16:11] artefactop opened #115 "Go projects list"
Here you can find a list with a lot of go projects https://code.google.com/p/go-wiki/wiki/Projects

[2014-07-10 16:36] #115 closed, assigned to nobody

[2014-07-11 05:18] #112 closed, assigned to nobody

[2014-08-19 06:49] shurcooL opened #169 "Any git libraries?"
There are a lot of libraries listed, so it's surprising there isn't a single one for git repository access.

I know of `github.com/libgit2/git2go`, which is a wrapper around `libgit2` (C library). Are there any attempts at a native Go package? Or at least an auto-generated version that embeds libgit2 via cgo so that it's go-gettable?

[2014-09-19 16:14] #100 closed, assigned to nobody

[2014-11-23 08:22] Waateur opened #208 "bleve missing ?"
Hello,
I just found this repo and didn't see the only lib i know in Go. http://www.blevesearch.com/.
I though it may deserve a place here.

Sorry for not making a pull request. I was just surfing around.

[2014-11-24 16:40] Tinker-S opened #210 "I think facebookgo is a good resource could add to the list."
https://github.com/facebookgo This cantains many go projects which develop by facebook.

[2014-11-27 20:20] #208 closed, assigned to nobody

[2014-12-17 20:14] chrissexton opened #231 "Domain name is not working"
When I go to http://awesome-go.com, I get a GitHub 404 error.

[2014-12-18 04:54] panzhangwang opened #232 "Announcing getAwesomeness()"
I just created a repo, [getAwesomeness](https://github.com/panzhangwang/getAwesomeness).It gives  developers an option to have a consolidated view on all of the awesome awesomeness. Please let me know if it helps or not.

[2014-12-18 05:39] #232 closed, assigned to nobody

[2014-12-23 03:55] renatosuero opened #237 "Golang Book duplicate"
The link [Tutorial - Intro to Programming in Go](http://www.golang-book.com/) is a Ebook   [Ebook - golang-book](http://www.golang-book.com/).Already Added in Ebook.

[2014-12-23 04:29] #237 closed, assigned to nobody

[2014-12-30 03:17] renatosuero opened #245 "Replace url Ebook -> Build Web Application with Golang"
The ebook has a improved pdf at http://astaxie.gitbooks.io/build-web-application-with-golang/

[2014-12-30 06:02] #245 closed, assigned to nobody

[2015-01-11 04:41] chrissexton commented on #231
ping!

[2015-01-14 03:48] shurcooL commented on #169
@knieriem has replied in https://github.com/knieriem/hgo/pull/4#issuecomment-63037879 suggesting to use @beyang's fork as the canonical repo at this time, since he's not able to maintain his repo at this time.

[2015-01-14 08:16] shurcooL commented on #169
It says:

Which is better? https://github.com/gogits/git or the original upstream version https://github.com/speedata/gogit?

[2015-01-14 11:06] #169 closed

[2015-01-26 02:23] shurcooL opened #266 "No packages for ftp/sftp."
FTP and SFTP are well defined and widespread standards, yet this list does not contain any Go packages.

Here's a good package for SFTP that I'm aware of:

http://godoc.org/github.com/pkg/sftp

[2015-01-26 02:26] shurcooL commented on #66
Is this still an actionable issue? The last update was made more than 6 months ago.

If so, what remains to be done before it can be closed?

[2015-01-26 02:26] shurcooL commented on #231
@avelino, are you still working on fixing this?

[2015-01-26 05:18] mholt commented on #266
Ah cool! I forgot about FTP. Maybe it's best suited for the Networking category...

[2015-01-26 05:19] mholt commented on #66
Eh, good point. I don't know of any problems anymore with the existing list -- but if we or anyone finds an issue, we can deal with it then.

[2015-01-26 05:19] #66 closed

[2015-01-31 19:45] avelino commented on #231
fixed! sorry delay...

[2015-01-31 19:45] #231 closed

[2015-02-02 12:49] cryptix opened #275 "404 on v8-go"
Hi,

sadly the `v8-go - V8 JavaScript engine bindings for Go` repository was somehow removed. [mhrdev/v8.go](https://github.com/mhrdev/v8.go) looks like a fork of it (has commits by @idada from oct 2014) but without a copy of the original repo I can't tell where they diverged.

I'm not sure how to proceed on something like this, just a FYI.

[2015-02-02 13:46] idada commented on #275
Hi @cryptix.

So sorry. The project is dead. I found 1:1 wrap the V8 engine API is not a good way. If a Go project need V8 engine, the developer can make a wrapper by C++ and provide CGO friendly API to Go. And the GC will more control able.

Thanks.

[2015-02-02 16:33] #275 closed

[2015-02-02 16:33] mholt commented on #275
Thanks for letting us know! We like the keep the list clean and current.

[2015-02-08 02:47] netpoetica opened #282 "CUI vs. CLI"
I noticed that [the section regarding tools for building Command Line Interfaces](https://github.com/avelino/awesome-go#cui) is titled "CUI", which was brought to my attention by [a PR to awsome-cpp](https://github.com/fffaraz/awesome-cpp/pull/71). However, a quick Google search for "CUI" or "CUI Applications" yields very few results for this being a thing. Is it common to refer to CLI as CUI in t

[2015-02-08 03:03] shurcooL commented on #282
I think CUI is a typo, it should be CLI. There's nothing Go-specific about it as far as I know. I've never heard of CUI either.

That PR would be welcome (unless someone else chimes in and explains the situation).

[2015-02-08 03:07] shurcooL commented on #282
Okay, it might not be a typo, but it's certainly a lot less common than CLI, so I think we should change it to CLI.

See #58 for origin of the term in this repo. Even in that PR, it was unclear what CUI stood for.

[2015-02-08 03:21] mholt commented on #282
It's not a typo.

CUI = Console User Interface. It's a kind of GUI that runs inside the terminal, like curses or, for example, this: https://github.com/buger/goterm or (this, in Node.js: https://github.com/yaronn/blessed-contrib). Sometimes also called a Text User Interface (TUI) but that's even less common. (top and htop also count as CUI apps, if you've ever used those.)

CLI = Command Line Inte

[2015-02-08 03:36] shurcooL commented on #282
Ah, my bad. I missed that these were indeed libraries for text/console UIs, not command line UIs.

In that case, CUI is definitely more appropriate and should not be changed to CLI, since that would be incorrect.

[2015-02-08 03:56] netpoetica commented on #282
I see. CUIs in this sense still are CLI applications though - it's a bit like a square/rectangle thing. I don't want to try to make this an argument of semantics, but essentially the idea of "CUI" is basically "libraries for advanced command line interfaces."

My only concern is that one might (and maybe it's just me) see "CUI" and think - "where's the section for command line utilities?" For me,

[2015-02-08 03:59] mholt commented on #282
There are CLI utilities under the "Utilities" category.

So here's what I would propose, if we were to revise these categories:

- Command Line (or "Terminal" or "Console" - any preference?)
    - Standard Command Line Interface
    - Advanced Console UI

[2015-02-08 04:01] mholt commented on #210
Feel free to open a pull request! Just make sure each submission has GoDoc, a README, and is currently maintained.

[2015-02-08 04:01] #210 closed

[2015-02-08 04:09] netpoetica commented on #282
@mholt I think that is a valid representation, which solves findability as well as keeping these two things distinct for the people who are keen to the differences. [awesome-nodejs](https://github.com/sindresorhus/awesome-nodejs#command-line-utilities) uses the section title "Command-line utilities".

"Command Line" is the most understandable to me. I think "Console Applications" could be a close

[2015-02-09 21:59] DAddYE commented on #266
For `ftp` I suggest this: https://github.com/jlaffaye/ftp

[2015-02-10 21:28] ktsimpso commented on #266
For an ftp `server` https://github.com/koofr/graval Seems to be the most active one I've found.

[2015-03-01 10:31] NHOrus opened #294 "More static analysis tools"
https://github.com/alecthomas/gometalinter is a package that brings them all together
Alternatively, plug some of used checkers in the list, please?

[2015-03-02 06:47] #282 closed

[2015-03-03 01:30] skarllot opened #298 "LiteIDE"
The best IDE that I used so far.
https://github.com/visualfc/liteide

[2015-03-04 06:09] mholt commented on #298
Interesting that it's written in C++ - technically we don't have a spot for software that's not written in Go, but maybe we could make an exception because it appears to be a Go-specific IDE. Submit a PR and put it under Other Software. What do you think @shurcooL ?

[2015-03-04 07:12] shurcooL commented on #298
It's a well known Go IDE, I agree it should be added.

[2015-03-04 09:25] thoroc commented on #298
+1

[2015-03-04 09:29] thoroc opened #301 "goemon - Go Extensible Monitoring"
[goemon] (https://github.com/mattn/goemon)

Has anyone used this? I just found this lib and I'd like some comment from anyone who might have used it. Seems pretty new. It is from the same author as [gom] (https://github.com/mattn/gom).

[2015-03-04 18:06] avelino commented on #298
+1

[2015-03-09 12:23] pravj opened #305 "Change name for the package geo_pattern"
Hi folks,

Although the package is already there in the list in [images](https://github.com/avelino/awesome-go#images) section.
But today I made some changes to the project that also involves renaming it to *geoPattern*. Actually I was trying my best to follow the new golang blog, [Package Names](http://blog.golang.org/package-names)

GitHub usually redirects renamed projects very well but I just

[2015-03-09 15:12] mholt commented on #305
Yep! Thank you. Just keep it alphabetized and that'll be good! (Feel free to submit a PR)

[2015-03-10 02:55] shurcooL commented on #305
I think it's absolutely fine to rename your package.

That page says the following:

I just want to point out, your new name seems to be equally discouraged in that section like the old. Is that intentional?

[2015-03-10 07:33] pravj commented on #305
Ohh my god.

This will obviously indicate that I was not functioning properly when I violated the rule, I wanted to follow.
Probably those `golint` errors, asking me to name underscored variables to CamelCase, made me do the same with package name.

Sorry, my fault. Feeling apologetic.

But a lesson learned.

Thanks @shurcooL, for pointing this out.

So now, can somebody please suggest me, what to

[2015-03-10 07:38] shurcooL commented on #305
I think `geopattern` is fine. I am not a huge fan of it, but that's the recommended style.

[2015-03-10 09:02] pravj commented on #305
Yeah! I'm also not a fan of this convention.
But I renamed it to `geopattern` as you suggested, seems like it was the only option.

All this, resulted in a nice version message though. :smile:

Made a pull request #306 for it.

Thanks for the help everyone.

[2015-03-10 09:02] #305 closed

[2015-03-12 00:47] niwaywood opened #307 "go-json-rest"
https://github.com/ant0ine/go-json-rest

Is there any reason why this isn't in the list?

It seems quite popular and active

[2015-03-12 01:53] mholt commented on #307
Probably because nobody has submitted it. Feel free to submit a PR, and thanks in advance!

[2015-03-12 02:49] niwaywood commented on #307
Ok no worries, I just submitted the PR

[2015-03-12 03:43] #307 closed

[2015-03-25 08:33] sureshg opened #315 "Comcast - Simulating shitty network connections"
https://github.com/tylertreat/Comcast

[2015-03-25 14:02] mholt commented on #315
Haha, or just come visit me sometime instead. [It's not even Comcast](https://pbs.twimg.com/media/B92ieRoIIAIvxyi.jpg:large)

[2015-03-26 17:39] mholt commented on #298
@skarllot Submit a PR and make it so!

[2015-03-26 17:40] mholt commented on #301
Is this a lib you want to add to the list or are you just asking about it? To add it, submit a PR. To ask about it, you might have better luck on the go-nuts mailing list, #golang on Twitter, or on the Gopher Slack.

[2015-03-26 17:42] mholt commented on #266
@DAddYE and @ktsimpso and @shurcooL - feel free to add them to the list; Networking would be a fine category for them IMO.

[2015-03-26 17:42] mholt commented on #294
Might be a good start to just add gometalinter to the list. @NHOrus feel free to submit a PR!

[2015-03-26 17:46] #315 closed

[2015-03-26 19:44] thoroc commented on #301
It was just a question. I'll go ask on the mailing list. Thanks. And sorry for the bother.

[2015-03-26 19:44] #301 closed

[2015-03-26 20:07] mholt commented on #301
No problem. I just felt bad cause I didn't know the answer and I'm not sure if any of the other collaborators do. Good luck!

[2015-03-27 04:38] mholt commented on #294
Thanks! Merged in #320

[2015-03-27 04:38] #294 closed

[2015-04-01 08:21] avelino opened #328 "Review all lib hosting in Google Code"
Locate the repository within the github (or another hosting) to change the link

[2015-04-01 13:58] mholt commented on #328
Good call. This might take a little time.

[2015-04-01 14:04] dgryski commented on #328
Note that many of the github repos might not be "official" repos, but just third-party exports.  I'd make it clear we're looking for the repos where the export was done by the original developer or a seriously interested third party.

[2015-04-01 16:08] shurcooL commented on #328
One such example would be #325.

The original repo, https://code.google.com/p/plotinum/, had the following notice at the top:

[2015-04-07 15:27] jeffreyjackson opened #335 "AwesomeOpenSource"
We are creating a github org for all awesome open source repos. I am working with a few individuals who are also managing their own awesome repos, and I think to gain more traction we need to work together. What are your thoughts about collectively moving your awesome repos to https://github.com/AwesomeOpenSource

The idea is that visibility for these repos would be increased due to more traffic t

[2015-04-07 16:51] avelino commented on #335
You're not the first to make this proposal, follows the history of another conversation, my thinking hasn't changed
https://github.com/avelino/awesome-go/issues/112

[2015-04-07 17:30] jeffreyjackson commented on #335
So you wouldn't be opposed to it if we had others come on board right?  we would still want you as an admin going forward of course.

[2015-04-07 17:39] avelino commented on #335
If other "awesome-*" (python, ruby and others) migrate I take awesome-go!
But I don't see a whole lot of sense to centralize it. As you saw in issue #112, the @ionutvmi gave up.

[2015-04-07 17:44] avelino commented on #335
The awesome[1] does exactly what you're proposing.

In my view, to centralize in a quality organization list (go, python, and others) will fall, people who don't use technology X will accept the PR without knowing.

[1] https://github.com/sindresorhus/awesome

[2015-04-07 17:57] avelino commented on #335
sample: https://github.com/razum2um/awesome-clojure/issues/26

[2015-04-07 19:28] dukex commented on #335
I think the https://github.com/sindresorhus/awesome ideia is better than a big central organization

[2015-04-07 19:36] jeffreyjackson commented on #335
@dukex the issue is that 1 person is responsible for all of the PRs.  If it were an org we could implement a self sustaining process.  Look at some of the more popular repos on github.  They succeed through sustainability, and thats easier with an org.

[2015-04-07 20:31] avelino commented on #335
@jeffreyjackson In awesome-go It's not only me who accepted PR. Gave access for meritocracy, like any open source project.

@shurcooL
@mholt
@dukex
@hoffoo

If you see Help "awesome-go" is fair you (or which wants to person help) get access!

[2015-04-11 20:12] norwack opened #342 "Why are some PR's ignored?"
It seems to be pretty common that ALOT of PR's are ignored, whys that?

[2015-04-11 21:36] mholt commented on #342
A lot of PRs come in and the only way we know about them is from our news feed. (Maybe other collaborators get emails for Watched repos, but I don't.) Although each changed line only takes a few minutes to look over, that context switch can be inconvenient if we're in the middle of something else. Consequently, some make it through sooner and others don't. Sorry about that.

A couple weeks ago I s

[2015-04-11 22:27] avelino commented on #342
We need more people to collaborate, if wanted welcome, I add you.

[2015-04-12 22:41] #298 closed

[2015-04-12 22:44] shurcooL commented on #342
Another minor point, having to verify that the added/changed/moved entries are in alphabetical order is discouraging. That's something computers are better at than humans (at least me).

[2015-04-12 22:45] shurcooL commented on #266
Is this done?

[2015-04-12 22:50] shurcooL commented on #266
I don't think it was done. I'll do it now.

[2015-04-12 23:38] garymoon commented on #342
(Long-time lurker, first-time poster, hi all!)
I had that thought while reading the comments here also, but couldn't think of how we'd make that happen at the time. Any ideas @shurcooL?

[2015-04-12 23:49] mholt commented on #342
I know you didn't ask me but I might as well post the obvious idea: write a script that could be stored in a public Gist which we can run to check alphabetical order.

It could be Javascript which can just be pasted into the dev console when viewing README.md... maybe?

[2015-04-12 23:50] #266 closed

[2015-04-12 23:54] dgryski commented on #342
@mholt Travis script is the best idea since it will report failures on the pull request itself.

[2015-04-13 01:50] shurcooL commented on #342
It is possible to write a Travis script that runs a Go program that parses `README.md` using `blackfriday`, and for all unordered lists of links it finds, verify they are in sorted order.

A better idea IMO, instead of having something that _verifies_ whether it's in sorted order or not, is something that _makes_ it sorted. So humans can focus on just adding/removing things from sections without c

[2015-04-13 01:53] garymoon commented on #342
My thought was that it wouldn't be at all worth the time and effort to run a script on the file - the brain isn't quite that bad at the task. I was thinking more about how can we ensure at display time that everything is alphabetized. Still not possible I guess.

[2015-04-16 11:10] #342 closed

[2015-04-16 13:02] avelino commented on #335
It seems to me that the idea wasn't too far forward, correct me if I'm wrong. I'm closing the issue which you want thing you open again.

[2015-04-16 13:02] #335 closed

[2015-04-16 14:54] dukex commented on #328
The Libraries or Links on google, I found some links to github

- [ ] https://code.google.com/p/portaudio-go/
- [ ] https://code.google.com/p/mlgo/
- [ ] https://code.google.com/p/probab/
- [ ] https://code.google.com/p/go-eco/
- [ ] https://code.google.com/p/gopacket/ -> https://github.com/google/gopacket
- [ ] https://code.google.com/p/go-fn/
- [ ] https://code.google.com/p/go-gt/
- [ ] https://

[2015-04-23 04:11] dukex opened #363 "Generate the site in HTML"
Like the @avelino did mention in https://github.com/avelino/awesome-go/pull/347, now with travis build we can generate a google friendly website

I dont know what is the better approach, I found two posts about
http://awestruct.org/auto-deploy-to-github-pages/
https://medium.com/@nthgergo/publishing-gh-pages-with-travis-ci-53a8270e87db

What do you think @avelino ?

[2015-04-23 04:17] avelino commented on #363
+1

[2015-04-23 04:18] avelino opened #364 "test duplicate link"
Today the tests tests whether this in alphabetically, it would be important to check if there is already a link (ex: github.com/...)

[2015-04-24 02:29] #364 closed

[2015-04-25 06:38] b4ux1t3 opened #372 "Slight spelling mistake in "go-python" description"
Says "naive", should be "native". Unless it really is a naive binding. :)

[2015-04-25 15:22] mholt commented on #372
Hmm. The word appears twice on the project page, but "native" doesn't appear at all.

[2015-04-25 17:22] b4ux1t3 commented on #372
Hm. I just assumed it was a spelling error. My bad.

[2015-04-27 01:22] #372 closed

[2015-05-18 07:05] shurcooL opened #409 "Consider rakyll/go-hardware?"
There is a new directory for hardware related libraries, tools, and tutorials for Go.

https://github.com/rakyll/go-hardware

See https://twitter.com/rakyll/status/600007636579266560 for the announcement. /cc @rakyll

Awesome-go list already has a [hardware section](https://github.com/avelino/awesome-go#hardware), but it's pretty brief. It contains two libraries, both of which are already a part o

[2015-05-18 07:10] shurcooL commented on #409
The other options are to simply add a link to go-hardware without removing the current hardware section (which seems not ideal, given the overlap).

Also, perhaps @rakyll would want to instead integrate go-hardware into awesome-go, by expanding the Hardware section, and moving the current entries into here. Only if she actually wants to do that, and you @avelino is willing to give her push rights

[2015-05-18 14:17] dukex commented on #409
To me remove our hardware section and link go-hardware is better.

[2015-05-18 14:21] 0xCMP commented on #409
I agree with @dukex. They have a nice set of hardware packages already which they could continue to keep tabs on.

[2015-05-18 15:02] shurcooL commented on #409
Ok, I've made #410 that resolves this, please review.

[2015-05-21 06:40] #409 closed

[2015-05-23 13:40] didip opened #422 "Question: Which category should a web project generator be?"
[go-bootstrap](http://go-bootstrap.io/) generates new web project for users, it is not a web framework.

Which category should it fall under?

[2015-05-23 17:17] anacrolix opened #423 "Duplicates"
The list is full of duplicates. The idea of a list of "best-in-class" package is great. It makes it easier to know where to start when looking for a package with the desired functionality. But there are for many packages, 2, 3, 4 or more that do the same thing.

[2015-05-23 18:22] mholt commented on #423
Like...?

[2015-05-23 19:28] shurcooL commented on #423
IMO the most useful packages are those that implement an existing spec. For example, if you need an image decoder for Targa (TGA) file format, you come here, you find it, and you can use it. Maybe this isn't a great example, because there is not a single TGA decoder package on the list. I know about https://github.com/ftrvxmtrx/tga, maybe it should be added.

I'd be surprised if many people active

[2015-06-04 02:27] hailiang opened #439 "Please add the link of the "official" project list at the top!"
Please add at the top of the list the official project list: https://github.com/golang/go/wiki/Projects

[2015-06-09 04:12] avelino commented on #439
The link already is part of the content.

[2015-06-09 04:12] #439 closed

[2015-06-20 23:12] eapache opened #451 "Non-go utilities for go development"
I wrote/maintain Starscope, a project for code search that happens to support Go but is written entirely in Ruby. It's a critical piece of my personal Go development workflow, but since it's not actually written in Go I'm not sure it belongs on this list?

Could you clarify please if utilities that are useful to gophers but are not themselves written in go are eligible to be submitted?

https://gi

[2015-06-21 00:23] shurcooL commented on #451
I think it only has to be written in Go if it's a library.

If it's a tool useful for Go development, just make sure it goes somewhere in https://github.com/avelino/awesome-go#tools section. For example, a vim plugin for Go is likely not written in Go, but it's still an important part of Awesome Go list.

[2015-06-28 08:28] hallas opened #465 "Remove ServeMux"
I have decided to retire my project ServeMux because I couldn't get it to the point where I wanted it API and speed wise. There is no reason to have a lot of frameworks out there that doesn't have a purpose. Please remove it.

Thanks.

[2015-06-28 08:30] shurcooL commented on #465
Sure, thanks for the update. Just make a PR.

[2015-06-28 08:31] hallas commented on #465
Okay. Your contribution guidelines says to make an issue :-)

[2015-06-28 08:36] #465 closed

[2015-06-28 08:37] shurcooL commented on #465
True, that's a little out of date. The README now states:

Thanks for catching.

[2015-06-28 08:39] shurcooL opened #467 "Contribution guidelines don't match README."
As mentioned in https://github.com/avelino/awesome-go/issues/465#issuecomment-116226013, the README says:

But the contribution guidelines haven't been updated to match, they still say one should open an issue (implying they shouldn't make a PR) to remove packages:

[2015-06-28 13:52] #467 closed

[2015-07-02 21:21] #451 closed

[2015-07-05 01:42] mholt commented on #422
As much as I dislike putting things in Miscellaneous, that does seem to be a good fit. It's a neat, but kind of niche, tool.

[2015-07-05 01:46] mholt opened #485 "Consider gitter.im over Slack?"
Just a thought - but since Slack has kind of an awkward invite-only system, it has a pretty high barrier to entry. I found [gitter](https://gitter.im) pretty easy to join, since I think it just uses a GitHub login which most everyone here has anyway - no invites needed.

[2015-07-05 02:26] shurcooL commented on #485
I have not tried Gitter yet. I think Slack is absolutely excellent, the best I've used, in every way except two: the invite system (worse than IRC) and that it's closed source (worse than IRC & open source server & client).

It seems Gitter is better than Slack on the invite front. If it's as good in every other way, I would consider it seriously.

Thoughts from people who have tried both would be

[2015-07-05 05:08] mholt commented on #485
Yeah, I'm referring to the [link on the readme](https://gophers.slack.com/messages/awesome/) pointing to a fairly idle channel in Slack.

I likewise welcome opinions from anyone who is familiar with both Slack and gitter.

[2015-07-12 22:03] TapirLiu opened #493 "no Cockroach NoSQL database?"
.

[2015-07-12 23:05] dukex commented on #493
@TapirLiu Please send a pull-request with cockroach!

[2015-07-12 23:05] #493 closed

[2015-07-16 10:20] fzerorubigd opened #497 "gb build tool"
this one https://github.com/constabulary/gb is a great tool.
I don't know which section is the best part for this one, so I just open an issue instead of PR.

[2015-07-17 02:57] shurcooL commented on #497
gb (/cc @davecheney) is indeed an awesome tool. It's one of a kind, being a replacement for the `go` tool.

I would imagine the best place for it is under the [Tools](https://github.com/avelino/awesome-go#tools) category, but what subcategory is harder to say... Clearly, there's nothing specific for it now. I think [Code Analysis](https://github.com/avelino/awesome-go#code-analysis) category is th

[2015-07-17 04:00] alaska commented on #497
I don't think Code Analysis is quite the right fit. My vote would be to keep that category for static analysis tools. If you have to create a new category, I'd suggest something like "go project tools", "go build tools" or just put it directly under the tools section.

[2015-07-17 04:43] shurcooL commented on #497
I kinda like this. I don't think there will be many viable alternatives to `go` tool, and `gb` can be a standalone entry under Tools header until there's a better category to move it into.

Unless there are any objections? (Disclosure, I know @davecheney personally and I'm familiar with `gb`... But I suppose this applies to many people hehe. :) )

[2015-08-15 14:16] dukex commented on #423
Closing it, if @anacrolix want keep this discussion we can reopen

[2015-08-15 14:16] #423 closed

[2015-09-23 05:58] alkchr opened #585 ""Web frameworks" category"
To the question of categories, there is something strange with **Web frameworks**. It is [described](https://github.com/avelino/awesome-go#web-frameworks) as "Full stack web frameworks". But most elements there are neither frameworks nor fullstack. There should be at least 3 subcategories:
1. Routers (aka mux): bone, httprouter, mux, pat, etc.
2. Micro-frameworks: those which provide only middlewa

[2015-09-25 08:28] wetgi commented on #585
+1 for Categories

[2015-09-30 05:47] ilgooz opened #595 "Which category for a RESTful API stack?"
"Stack is a lightweight not-a-framework RESTful API that allows you to easily get started with your next project and shows some of the best practices about building RESTful APIs in Go."

https://github.com/ilgooz/stack

[2015-09-30 07:35] lukashes opened #597 "What about graceful server shutdown?"
I used library https://github.com/tylerb/graceful and did not see it in awesome-go. May be exists other libs?

[2015-10-05 20:54] andreis opened #605 "Terminus"
https://github.com/kelseyhightower/terminus

[2015-10-07 18:32] bwiggs opened #607 "dead goose"
Looks like the goose database migration project is no longer actively maintained.

https://bitbucket.org/liamstask/goose/issues/58/is-this-project-dead

[2015-10-07 18:41] bwiggs opened #608 "Beedb is being deprecated in favor of Beego.orm"
See readme for more info https://github.com/astaxie/beedb

[2015-10-12 08:58] VincenzoLaSpesa opened #616 "hoisie/mustache is not the official mustache port."
https://github.com/hoisie/mustache isn't the official port anymore.

https://mustache.github.io/ says it's https://github.com/cbroglie/mustache

[2015-10-26 01:27] eduardonunesp opened #649 "SSLB (Super Simple Load Balancer)"
https://github.com/eduardonunesp/sslb

[2015-10-28 09:38] #497 closed

[2015-11-22 03:29] levigross opened #683 "Automate the acceptance of high quality repos"
Hi,

I prepose that you should consider automating the merging of certain entries. The hard part is using the proper metrics.

I would like to start the conversation by suggesting the following metrics.
- Github stars
- Test coverage
- The output of http://goreportcard.com/ (which checks `go vet`, `go lint`, and `go fmt`)

[2015-11-22 03:57] joeybloggs commented on #683
Just my 2 cents,

* stars should not be taken into account for 2 reasons:
  * just because it has a bunch of stars does not mean it's any good.( just being realistic)
  * I've submitted pull requests and had packages added with very few stars if any, the whole point was to get some exposure, which stars may be a by-product

*  Test coverage for sure ,but what percentage, may have to be as low as 5

[2015-11-22 17:14] levigross commented on #683
@joeybloggs

I agree with your sentiments on Github stars. My opinion is based on the following two points:

1. Sometimes you have a product that is popular but doesn't have great test coverage: e.g Docker.
1. Popular packages benefit from the community (and therefore over time and with the right management, their code quality gets really good)

As for test coverage, I am not suggesting that we on

[2015-11-23 04:25] shurcooL commented on #683
I agree that this is an effort worth investing into, because it seems the current amount of inbound Pull Request is higher than the capacity of the contributors to accept it. There are many, many PRs that go unreviewed for weeks, if not months, which is a problem.

[2015-11-23 16:13] jgoodall commented on #683
Also throwing in my 2 cents... This site is described as "A curated list of awesome Go frameworks, libraries and software". _Curated_ implies that someone is actually reviewing the packages that get added to the list. If you start talking about automation, and there is no review, the _curated_ probably needs to be dropped.

I was surprised to find so many packages here that seem to have so little

[2015-11-23 21:59] alaska commented on #683
@jgoodall, I actually started a tool to go through all repos and mark any that looked dead for further review.  At such time a package could either be marked as stable (in which case it would stop alerting until changed), or evaluated and either removed or excepted as the case warranted.  Might be time to resurrect the project.

[2015-11-24 00:33] joeybloggs commented on #683
Seems like I'm being called out :wink: Just a quick point @jgoodall I don't think that godocs properly reports usage, point in case see here https://godoc.org/gopkg.in/go-playground/validator.v8?importers, lists 2 packages even it's used in many more and clone many thousands of times each week.

[2015-11-24 14:41] jgoodall commented on #683
@alaska - that definitely sounds like a useful utility!

[2015-11-24 14:49] jgoodall commented on #683
@joeybloggs - sorry, not calling anyone out. I came to this list because of the 'curated' part, but maybe others are just looking for a big list of packages. Is there another way to determine what packages are actually being used? http://go-search.org/? Or does godoc skew numbers when relying on gopkg.in? Of is that particular example maybe not a good one because of so multiple versions?

[2015-11-24 15:07] edigu commented on #683
+1 for the "curated part"

[2015-11-24 15:47] joeybloggs commented on #683
No worries @jgoodall , I was jk, I honestly don't know about gopkg.in skewing or not but it seems strange that it's reporting 2, but not anymore; perhaps only other packages that have been initialized/have godocs are reported?

[2015-11-27 02:02] shurcooL commented on #683
Perhaps, in order to enable the curated part, this issue can be flipped around as "automate closing PRs that add low quality repos". If the volume is decreased, it's easier for the few contributors to review and accept high quality packages.

It's still hard because there are many, many packages.

[2015-12-18 17:57] awesome-bot opened #718 "Validate pull requests with Travis"
Hello, I wrote a tool that can validate README links (valid URLs, not duplicate). It can be run when someone submits a pull request.

 It is currently being used by
- https://github.com/vsouza/awesome-ios
- https://github.com/matteocrippa/awesome-swift
- https://github.com/dkhamsing/open-source-ios-apps

Examples
- https://travis-ci.org/matteocrippa/awesome-swift/builds/96526196 ok ✅
- https://tra

[2015-12-20 08:41] shurcooL commented on #718
This looks like a good idea.

We already check for dupe and sorted order, so we wouldn't want to lose that, but gaining the additional checks would be great. It'll help catch some issues earlier.

Reviewers should still hopefully at click the links to see that they work and the project is worth adding, but again, this can help catch mistakes earlier and automatically, so by the time a human review

[2015-12-21 17:51] romatthe commented on #585
I actually wanted to file an issue for this as well. The **Web Frameworks** category makes very little sense. Almost 90% of these projects are libraries for building services. Which is great, but "Full Stack" usually implies opinionated techniques such as MVC and ORM, tools for scaffolding, and some sort of solution for the client side (templating, etc.).

I suggest one of the following:
1. Change

[2015-12-24 19:45] konqoro opened #731 "blas"
https://github.com/ziutek/blas doesn't seem actively maintened. You could replace it with https://github.com/gonum/blas

[2016-01-02 12:57] wallies opened #747 ""Server Applications" category"
I think this should be broken up into web servers/proxies and key value stores. Then we can add Traefik to webservers.

[2016-01-03 15:44] paparipote opened #748 "Please, include the date you are adding a new project."
It let us increase expectations, let us see the emergence of new go products and, in some way, the evolution and maturity of go projects.
Regards.

[2016-01-03 21:33] shurcooL commented on #748
Not sure what you mean, can you elaborate?

Can git blame be used to achieve this?

[2016-01-05 17:31] paparipote commented on #748
Let me explain. Frequently I see the list in Readme.md because, between other things, I am interested to know the most recent additions. For  knowing that, I usually read the History of the changes (github helps in that purpose), and I thought it would be a good idea to include in every product the date when the author included a new awsome Go Project, for example:
•playlyfe - The Playlyfe Rest AP

[2016-01-07 20:32] bwmarrin commented on #485
Another option is Discord which allows very easy invites and is a rather nice chat environment :)  I was curious where it stood compared to Gitter and found the below issue, which may be useful information here.

https://github.com/reactiflux/volunteers/issues/25

[2016-01-11 12:44] avelino commented on #683
start implementation https://github.com/avelino/awesome-go/blob/checkGoreportcard/repo_test.go#L109

is extremely slow check all, if anyone has any idea how to improve

[2016-01-11 14:28] levigross commented on #683
If I understand the code correctly, on every pull request runs this test across all of the entries (effectively launching a denial of service attack against `goreportcard.com`). I would ask permission if we can use the service and have it only test the repos added within the pull request.

[2016-01-11 14:33] avelino commented on #683
Ideally, we'd be turning these check location!

[2016-01-11 14:39] avelino commented on #683
goreportcard source: https://github.com/gojp/goreportcard/blob/master/handlers/checks.go

[2016-01-11 14:50] shawnps commented on #683
This is probably what happened earlier when @avelino said it was slow. Go Report Card runs on a single, cheap cloud server and ran out of memory. It should be back to normal now, but I'll think about a way to do some rate-limiting, or something, to make Go Report Card better if it's going to be used in this way. For the record I'm totally fine with checking repos against it (there is another tool

[2016-01-11 15:22] avelino commented on #683
About curating, when you have 100% coverage (https://github.com/avelino/awesome-go/blob/master/CONTRIBUTING.md#contribution-guidelines) of text and still have some of the cases that will come out of default, i.e. I think the curators will decrease too (is what we need), but in some cases it will be necessary.

[2016-01-13 05:54] avelino commented on #485
+1 gitter

[2016-01-18 07:10] maesoser opened #768 "What about adding this RSS library?"
What about adding this RSS LIbrary?

https://github.com/SlyMarbo/rss

[2016-01-23 01:47] dukex commented on #768
@maesoser Please send a pull request

[2016-01-23 01:47] #768 closed

[2016-01-31 07:04] thewhitetulip opened #787 "Add Tasks"
I built a todo list manager web application in Go
https://github.com/thewhitetulip/Tasks

[2016-02-02 09:58] matrixik opened #798 "Userscript for screeners"
Hi

I created quick Greasemonkey user script that add links to github repositories to godoc, goreportcard and gocover.
If you think it can be useful it can be included into this repo.

[code]

[2016-02-08 08:31] matrixik commented on #798
Update for changes in goreportcard and added https://gotools.org. @avelino what you think about this script?

[code]

[2016-02-21 19:09] #328 closed

[2016-02-21 19:12] matrixik commented on #328
Not perfect, but all google code links removed. Some by original authors, some by others that fixed import links and added some more commits.

[2016-02-21 19:40] avelino commented on #328
good work :D

[2016-02-23 02:11] Arkingtse opened #834 "please add star and fork before every project to show the popularity"
It's convenient to know which is popular at first glance
add the create time will be event better

there is no need to be dynamic, just update it everytime you gennerate it

[2016-02-23 02:14] Arkingtse commented on #834
like this
1316/11256    awesome-go

[2016-02-23 19:56] matrixik commented on #485
Looks like gitter is in README now. Can be closed?

[2016-02-25 00:44] splace opened #839 "mp3 - A native Go MP# decoder."
seems to be actually a mp# FRAME parser.

ie it extracts a stream of compressed data from a mp# container, but it doesn't decompress it.

[2016-02-28 10:32] kamilsk commented on #834
Hi! Open http://awesome-go.com/ and run https://gist.github.com/kamilsk/128d6be5db2e86c0dd95 from your console (don't forget to replace `<put your token>` by your [personal access tokens](https://github.com/settings/tokens)). Enjoy!

[2016-02-28 11:43] dgryski commented on #834
Stars and forks are more correlated with publicity than quality: http://www.cockroachlabs.com/blog/what-can-we-learn-from-our-github-stars/

[2016-02-29 07:44] matrixik commented on #731
Hi, thank you for info.
Does https://github.com/gonum/blas is similarity optimized like https://github.com/ziutek/blas ?

Hello @ziutek could you give us some status of https://github.com/ziutek/blas ?

[2016-03-03 10:42] ziutek commented on #731
blas is small and simple library that supports only easy to implement a subset of BLAS. It is optimized only for AMD64.

I use it in my one project. It seems that some people use it too. It compiles. All tests pass. All benchmarks works.

[2016-03-04 10:51] matrixik commented on #731
Thank you for reply.
I think both packages could be listed in awesome-go.
But gonum/blas is lacking docs in code: https://goreportcard.com/report/github.com/gonum/blas#golint

[2016-03-04 19:01] matrixik commented on #485
No response, no objections. Closing.

[2016-03-04 19:01] #485 closed

[2016-03-04 19:19] matrixik commented on #607
Thank you for information, sorry it took so long.

Hello @phemmer and @zabawaba99
I replaced bitbucked link to `goose` with your fork in https://github.com/avelino/awesome-go/commit/1891e0fe6b5411717bc1c4e7adee9cb5a2f985d7.
Thank you for your continuous support (https://github.com/CloudCom/goose/issues/20).

When you have some time you could maybe check some `golint` warnings and coverage for pack

[2016-03-04 19:59] matrixik opened #855 "PULL_REQUEST_TEMPLATE file"
I would like to add file **PULL_REQUEST_TEMPLATE** to repo:
[code]
Objections, comments?
@avelino  @shurcooL

[2016-03-04 20:14] matrixik commented on #834
We do not generate our list at any moment.
http://awesome-go.com/ data is pulled straight from github: https://github.com/avelino/awesome-go/blob/gh-pages/assets/awesome-go.js

Thank you for idea but what @kamilsk provided should be sufficient, adding it to repo would create many unnecessary commits. It would need to be automated and the more links we would have the more time generation would take

[2016-03-04 20:14] #834 closed

[2016-03-04 20:25] matrixik commented on #748
Maybe there could be some tool for that that could create adding history from git (and someone would need to create it) but I think adding dates into README is bad idea. This dates are meaningless especially as list all the time grow in size. Searching by them would be increasingly hard.

[2016-03-05 03:27] zabawaba99 commented on #607
Hi @matrixik unfortunately, @phemmer and I no longer have access to CloudCom/goose as we were removed form the organization. We would be happy to maintain this project and move it over to [steinbacher/goose](https://github.com/steinbacher/goose). Also, the repository is under an organization so that we could add other contributors if anyone is interested in helping maintain the project.

[2016-03-05 04:25] pyros2097 commented on #748
The problem is the readme is not ordered by date so it might still be useless as you have to search for the most recent dates. The best approach i can think of is you should see the comitt history but the commit title's should improve so that we should be able to directly go the to project links.. because even I do that sometimes... I read the history then i need to go the diff of that commit and

[2016-03-05 09:03] shurcooL commented on #855
No objections from me, that looks good.

Minor, but maybe make the first paragraph into a single sentence. Right now, it would render oddly across 3 lines:

[quality standards](https://github.com/avelino/awesome-go/blob/master/CONTRIBUTING.md#quality-standard)
before sending pull request. Thanks!

[2016-03-05 19:06] matrixik commented on #855
Thank you for comment. When I tried it yesterday it was rendered in one line, it needed empty line between lines I wanted in separate lines (nice sentence ;) ).

[2016-03-06 15:31] matrixik commented on #855
I also thinking about adding as last line something like:
`If package have low scores inform maintainers or you could help them with PR.`
Or maybe you could propose some better sounding advice.

[2016-03-07 10:42] matrixik commented on #798
Added **PULL_REQUEST_TEMPLATE.md** file in https://github.com/avelino/awesome-go/commit/da63591956db0bda0cde38c2fb9f1a0b1af58678
Should be enough.

[2016-03-07 10:42] #798 closed

[2016-03-10 07:42] matrixik commented on #607
So if you are moving again you could implement breaking changes now like https://github.com/CloudCom/goose/issues/3 without too much problems for old code? And what will happen now to CloudCom/goose ?

[2016-03-10 22:09] zabawaba99 commented on #607
I cloned all the issues we had in CloudCom to steinbacher. I can probably tackle some of them this weekend.

As far as what will happen to CloudCom/goose, I'm not sure. I haven't seen any pulse on the project since we touched it so I don't know if someone is working on it or if it's been abandoned.

[2016-03-16 20:27] #608 closed

[2016-03-16 20:27] matrixik commented on #608
Thank you for information. Sorry it took so long.

[2016-03-21 00:09] zabawaba99 commented on #607
@matrixik Heads up on CloudCom/goose#3 (which maps to https://github.com/steinbacher/goose/issues/6). It was completed and merged into master. Was going to continue working on the code to bring up test coverage.

[2016-03-21 13:19] #607 closed

[2016-03-21 13:20] matrixik commented on #607
Thank you for maintaining this project. Link changed.

[2016-04-03 19:47] kirillDanshin commented on #855
What do you think about adding something like this checklist and note below?

---

Note, that new categories can be added only when there are 3 packages or more.

Make shure that you've checked the boxes below before you submit PR:
- [ ] I have added my package in alphabetical order
- [ ] I know that this package was not listed before
- [ ] I have added godoc link
- [ ] I have added gocover.io lin

[2016-04-03 19:48] avelino commented on #855
+1

[2016-04-03 19:55] kirillDanshin commented on #855
Please, review my PR (#890).

[2016-04-03 20:04] kirillDanshin opened #891 "Add DoNotMerge label"
Sometimes author don't want to merge PR yet, for example see #873.
Maybe we can create a DoNotMerge label?

@avelino @matrixik @shurcooL

[2016-04-03 20:32] kamilsk commented on #891
why not "wip"/"status:wip" (work in progress) label?

[2016-04-03 21:02] kirillDanshin commented on #891
@kamilsk yep, it's fine too :)

[2016-04-03 21:33] #855 closed

[2016-04-04 06:44] kamilsk opened #896 "How about labels with categories?"
Like this https://github.com/ziadoz/awesome-php/labels

[2016-04-04 13:39] kirillDanshin commented on #896
Just don't see when we need this.
Any idea how it can help in our case?

[2016-04-04 15:16] kamilsk commented on #896
quick filtering of pull requests for example. if I'm interested in one category, I will actively look for it

[2016-04-04 15:28] kirillDanshin commented on #896
ok, I see.
no objection from me.

[2016-04-05 10:49] arvenil opened #902 "Dependency Injection frameworks?"
Hi,

The `awesome-go` library list is impressive however I couldn't find any DI frameworks... but maybe I simply wasn't able to find them on the list? :)

For sure two I can't find are:
https://github.com/facebookgo/inject
https://github.com/karlkfi/inject

... and I was hoping to find others, anybody knows about anymore worth trying?

[2016-04-12 14:02] #896 closed

[2016-04-13 09:02] #891 closed

[2016-04-13 10:17] avelino commented on #891
+1

[2016-04-18 12:23] cctse commented on #834
@kamilsk @dgryski thanks.    @matrixik sorry for this,  I wasn't aware of the problem that it need to generate every time the star changes

[2016-04-18 12:26] kirillDanshin commented on #834
@cctse maybe later I'll write a new version of awesome-go.com in go, and it will be track star changes, forks and last push date. but I don't think I can do it this month.

[2016-04-21 18:15] AlekSi opened #922 "Shiny"
https://github.com/golang/exp/tree/master/shiny

[2016-04-21 18:19] kirillDanshin commented on #922
Please, add links and submit it as pull request. Thanks!

[2016-04-21 18:22] AlekSi commented on #922
That's more or less "drive-by" issue. I can't do it now. If no-one will do it soon, I will do it (later).

[2016-04-21 19:35] kirillDanshin commented on #922
@AlekSi ok, I'll review it and if it's ok I'll push it

[2016-04-21 22:17] kamilsk commented on #922
@kirillDanshin, it is part of experimental packages. why should it be here?

[2016-04-21 22:57] shurcooL commented on #922
Shiny is in theory unfinished and experimental, which should be noted, but it is quite complete and very interesting. It's an actively researched and developed spiritual successor to GXUI, one of the best UI packages in pure Go, and it's likely a contender for top spot for Go UI packages. I think it's definitely worth listing.

[2016-04-22 07:48] kamilsk commented on #922
I'm a bit about something else. Experimental packages are on the official golang site https://golang.org/pkg/#other and shiny is part of this list.

I thought that the main target of awesome-go list is to help users find packages which not presented in official site/docs.

Little example: nobody adds links of [yaml](http://php.net/manual/en/book.yaml.php) to http://php.libhunt.com because they alr

[2016-04-25 03:17] cctse commented on #834
@kirillDanshin never mind,  it's just a minor recommendation

[2016-05-10 00:45] diegohce opened #945 "Add Camerata: Simple and easy to use server orchestration set of tools made with love and Go"
Camerata: Simple and easy to use server orchestration set of tools made with love and Go

https://github.com/diegohce/camerata

[2016-05-10 08:44] icza opened #946 "Gowut - which category?"
I have created a Go Web UI Toolkit:

https://github.com/icza/gowut

It is in a stable and feature-rich state, can be used in production, richly documented and there are many examples, as well as a [live demo](https://gowut-demo.appspot.com/show).

I have some trouble choosing a category for it: it is a GUI framework ("GUI" category) but it is implemented as a web server and clients are browsers ("

[2016-05-10 09:06] kirillDanshin commented on #946
@icza I think it should be in "Web Frameworks" category

[2016-05-11 22:10] bjflanne opened #949 "NATS - can you please update link?"
Can you please link to the NATS server (https://github.com/nats-io/gnatsd) and corresponding data, instead of the Golang client (which is what is currently listed)? The Server itself is also written in Go. Thanks!

[2016-05-12 14:03] kirillDanshin commented on #949
I think we need to lisk both. can you create a PR for this? thanks.

[2016-05-12 15:11] #949 closed

[2016-05-28 17:50] jaytaylor opened #971 "Is this still maintained?"
Is this still maintained?

I see a lot of open PR's with 0 comments.

[2016-05-28 18:23] kirillDanshin commented on #971
@jaytaylor yes, it still maintained. don't worry, I'll have enough time to review new PR's soon.

[2016-05-28 19:01] jaytaylor commented on #971
Cool, thanks!

[2016-05-28 19:01] #971 closed

[2016-06-09 12:30] Epse opened #983 "Anchors for titles with spaces don't work on awesome-go.com website (they work okay in README.md on github)."
In the web page version on http://awesome-go.com clicking the link labeled "actual middlewares" doesn't do anything. The ID doesn't seem to exist

[2016-06-10 09:28] shurcooL commented on #983
Hi @Epse,

Thanks for reporting this. It's a bug.

However, it affects more than just that one section, it's anything that has a space.

It happens because there is currently a mismatch in how the header anchors are generated on the website and on the README when viewed on github. Notice that "Actual middlewares" link works in GitHub:

https://github.com/avelino/awesome-go/blob/master/README.md#ac

[2016-06-10 10:11] kirillDanshin commented on #983
yep, it has `id="actualmiddlewares"` instead of `id="actual-middlewares"`.
It's a bug in showdown.js that is obsolete (see `// Copyright (c) 2007 John Fraser.` in http://awesome-go.com/assets/showdown.js).
I think we need to use something more actual. We can upgrade to [markdown-js](https://github.com/evilstreak/markdown-js) for example. Any objections?
@shurcooL @avelino @matrixik FYI.

[2016-06-10 10:13] shurcooL commented on #983
I don't know anything about JavaScript markdown libraries, so I can't offer many comments. But no objections from me, as long as it works and nothing is broken. :)

[2016-06-10 13:50] kirillDanshin commented on #983
fixed in https://github.com/avelino/awesome-go/commit/9959a7befc5c6f034bac502ea54bba92ec882948
also I've update the design.
check it out @shurcooL @avelino @Epse

[2016-06-10 13:54] avelino commented on #983
thanks @kirillDanshin
What do you think of generating the HTML around build and automatically update the index.html in the branch "gh-pages"? So we will be indexed in Google and we can work on SEO.

[2016-06-10 13:57] kirillDanshin commented on #983
@avelino
I'm working on it

[2016-06-10 13:58] #983 closed

[2016-06-10 13:59] avelino commented on #363
@kirillDanshin this issue

[2016-06-15 14:37] kirillDanshin opened #991 "Awesome-Go pins/t-shirts etc."
I've requested some pins, t-shirts etc.
If you want, you can [support the idea with your vote](https://trello.com/c/ixhsue1p/438-awesome-go-swag).
@avelino any objections? I'll glad to hear your opinion.

[2016-06-21 15:02] avelino commented on #991
Great idea, I support.

[2016-06-21 20:48] #991 closed

[2016-07-02 01:56] xmattstrongx opened #1012 "Code Analysis: Goreturns 404"
The goreturns link takes you to a 404 here:
https://sourcegraph.com/sqs/goreturns

Not sure but you might want this links instead?
https://sourcegraph.com/github.com/sqs/goreturns

[2016-07-02 02:08] xmattstrongx commented on #1012
update it myself with the sourcegraph link and submitted a PR https://github.com/avelino/awesome-go/pull/1013

Not sure if sourcegraph or github was preferred??

[2016-07-02 05:33] #1012 closed

[2016-07-02 07:43] shurcooL commented on #1012
I think that url is okay, thanks for fixing the 404! /cc @sqs

[2016-07-02 07:47] kirillDanshin commented on #1012
@shurcooL I believe it's a sourcegraph bug. they forgot to make a redirector.
thanks again @xmattstrongx

[2016-07-08 09:43] xuqingfeng opened #1016 "Video - aac/h264 404"
[aac/h264](https://github.com/go-av/codec)

[2016-07-09 07:36] shurcooL commented on #1016
Thanks for reporting the 404.

It seems that both https://github.com/go-av/codec and https://github.com/nareix/codec are now 404. I'll remove the link then.

But @nareix, if there's a new URL that should be used instead, feel free to make a PR that re-adds it.

[2016-07-09 07:42] #1016 closed

[2016-08-09 13:34] solojavier commented on #922
I don't think this qualifies to be here since it doesn't have the following:

* Generally useful to the wider community of Go programmers
* Stable or progressing toward stable
* Thoroughly documented (README, godoc comments, etc.)

[2016-09-08 10:20] johnliz4ever commented on #922
#https://www.google.com/imgres?imgurl=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F717080514931376129%2Fhfhzm06Q.jpg&imgrefurl=https%3A%2F%2Ftwitter.com%2Fgoogleplay&docid=ZOMyK2156PnSSM&tbnid=Qc0KJ8jRd_j1wM%3A&w=512&h=512&bih=520&biw=360&ved=0ahUKEwj7i6uJ7-jOAhUDKiYKHY-VB70QMwhHKAAwAA&iact=mrc&uact=8https://www.google.com/imgres?imgurl=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F717080514931

[2016-09-08 12:45] kirillDanshin commented on #922
@johnliz4ever are you sure that link is right?

[2016-09-09 06:36] zyfdegh opened #1092 "Gotty: Add Share your terminal as a web application"
Amazing project! Highly recommended!

[https://github.com/yudai/gotty](https://github.com/yudai/gotty)

It can turn any command line application to web application!

[2016-09-09 06:38] shurcooL commented on #1092
Thanks for letting us know @zyfdegh. If you'd like to add it to awesome-go list, please create a PR and follow the steps in the [template](https://github.com/avelino/awesome-go/blob/master/.github/PULL_REQUEST_TEMPLATE.md). Thanks!

[2016-09-09 06:38] #1092 closed

[2016-09-10 18:25] andradei opened #1095 "Add CloudyKit/jet to templates list"
https://github.com/CloudyKit/jet

[2016-09-14 04:09] IndianGuru opened #1101 "Add watson-go-sdk to Third-party APIs"
A Simple Watson SDK for the Go programming language -
https://github.com/Mediawen/watson-go-sdk

[2016-09-18 18:48] cmpis opened #1105 "Add godoctor refactoring engine"
https://github.com/godoctor/godoctor

[2016-09-18 21:46] shurcooL commented on #1105
Thanks @cmpis. If you'd like to add it to awesome-go list, please create a PR and follow the steps in the [template](https://github.com/avelino/awesome-go/blob/master/.github/PULL_REQUEST_TEMPLATE.md). Thanks!

[2016-09-18 21:46] #1105 closed

[2016-09-21 19:43] ManuCart opened #1108 "Please add Go google Drive"
https://github.com/odeke-em/drive

[2016-10-02 07:55] kirillDanshin commented on #1101
see https://github.com/avelino/awesome-go/pull/1102#issuecomment-250946805

[2016-10-03 16:56] avelino commented on #363
@kirillDanshin evolve this issue?

[2016-10-03 17:10] kirillDanshin commented on #363
@avelino yep, I'll done with it soon. I'm working in my private repo.
the new website is based on React.js and will be really awesome :wink:

[2016-10-04 17:32] gnewton commented on #946
So I _think_ you just need to open a branch, add gowut to the "Web Frameworks" section and make a pull request?

[2016-10-05 12:05] icza commented on #946
Already did that. Pull request was denied due to lack of comprehensive tests. Will come back to that later. Closing this.

[2016-10-05 12:05] #946 closed

[2016-10-05 13:56] gnewton commented on #946
Ah. I see. Apologies for wasting your time.
 I was not aware they demanded comprehensive tests to be on the list....

[2016-10-09 04:02] avelino commented on #1108
send PR pls

[2016-10-09 06:44] vCaesar opened #1124 "I add robotgo,but Some checks were not successful"
I add robotgo,but Some checks were not successful;but like godoc.org is Instability in this network;Please add [robotgo](https://github.com/go-vgo/robotgo),doc in the github,[doc](https://github.com/go-vgo/robotgo/blob/master/doc.md),thank you;https://github.com/avelino/awesome-go/pull/1123

[2016-10-09 08:00] kirillDanshin commented on #1124
rebase it.

[2016-10-09 08:06] #1124 closed

[2016-10-09 10:50] nntaoli opened #1125 "Suggest add the uuid tool [https://github.com/satori/go.uuid]"

[2016-10-10 15:47] avelino commented on #1125
@nntaoli send PR pls

[2016-10-10 15:55] avelino commented on #1095
@andradei send PR pls

[2016-10-18 15:26] btracey commented on #731
The intent is for users to use blas/blas64, which is well documented
https://godoc.org/github.com/gonum/blas/blas64

The native Go implementation is also well documented
https://godoc.org/github.com/gonum/blas/native

Most of the items lacking in documentation are either auto-generated functions from C (implementation.Zher2, for example), or are functions in the testing package.

[2016-10-30 19:14] kirillDanshin commented on #363
@avelino check out PM on gitter ASAP please

[2016-11-04 08:54] #363 closed

[2016-11-13 02:26] kirillDanshin commented on #945
@diegohce please send PR

[2016-11-13 02:27] kirillDanshin commented on #649
@eduardonunesp please use PR for this

[2016-11-13 02:27] #649 closed

[2016-11-13 02:28] kirillDanshin commented on #595
it's not maintained as I see.

[2016-11-13 02:28] #595 closed

[2016-11-13 02:29] kirillDanshin commented on #597
you can send us a PR

[2016-11-13 02:29] #597 closed

[2016-11-13 02:29] kirillDanshin commented on #605
please use PR for this

[2016-11-13 02:29] #605 closed

[2016-11-13 02:30] kirillDanshin commented on #616
you can send us a PR

[2016-11-13 02:30] #616 closed

[2016-11-13 02:35] kirillDanshin commented on #747
it already there https://github.com/avelino/awesome-go#server-applications. I'll close this, you can send us a PR with Traefik.

[2016-11-13 02:35] #747 closed

[2016-11-16 09:10] zet4 opened #1181 "Dead link/project: gogenerate"
While browsing the list I found https://github.com/arschles/gogenerate to be a dead link (in Testing)

[2016-11-16 09:55] shurcooL commented on #1181
I can confirm it's 404.

@arschles, what's the status of that repository? Has it moved/been renamed? Or is it gone and we should remove the link to it?

[2016-11-16 15:45] avelino commented on #1181
I couldn't find anything saying it was renamed (and no keeping fork)

[2016-11-16 16:53] arschles commented on #1181
Yup, you're right - that project is dead. I didn't have time to keep it going. Sorry I forgot to update it.

Side question: is this list alive again?

[2016-11-17 01:35] avelino commented on #1181
@arschles awesome-go has always been alive, we need more employees to keep the list (most up to date as possible)

[2016-11-17 01:38] #1181 closed

[2016-11-17 01:38] avelino commented on #1181
@zet4 thank you!

[2016-11-17 01:46] #1125 closed

[2016-11-17 01:53] avelino commented on #1108
@ManuCart Thank you!

[2016-11-17 01:53] #1108 closed

[2016-11-17 01:56] avelino commented on #1095
@andradei Thank you!

[2016-11-17 01:56] #1095 closed

[2016-11-17 01:58] #945 closed

[2016-11-17 02:00] avelino commented on #1101
We received your package, we need your interaction on the pull request

[2016-11-17 02:00] #1101 closed

[2016-11-17 02:09] avelino commented on #902
karlkfi/inject not best quality

[2016-11-17 02:09] #902 closed

[2016-11-17 02:19] #718 closed

[2016-11-17 02:25] avelino commented on #422
Miscellaneous or Command line (Your project is a command line that generates a web application structure)

[2016-11-17 02:25] #422 closed

[2016-11-17 02:25] #683 closed

[2016-11-17 20:07] andradei commented on #1095
Thank you. I must have missed the notification of your request from Oct 10.

[2016-11-24 15:18] arvenil commented on #902
@avelino  Why you say karlkfi/inject is not best quality? I've actually ended up using github.com/karlkfi/inject in project rather than facebookgo/inject. And actually they both approach the problem differently - karlkfi/inject solution is more appealing to me. To me looks like facebookgo/inject has more stars only because there is *facebook* in the name

[2016-11-24 19:06] avelino commented on #902
test not found (not a)

[2016-12-01 00:44] arschles commented on #1181
@zet4 good to know, for some reason I thought it had gone dormant, so sorry about that!

I will try to come back often and help out with keeping it up to date!

[2016-12-01 19:42] avelino commented on #787
No test files for 'github.com/thewhitetulip/Tasks'

[2016-12-01 19:42] #787 closed

[2016-12-01 19:44] avelino commented on #731
send pull request, if all OK will be done merge

[2016-12-01 19:44] #731 closed

[2016-12-01 19:45] #585 closed

[2016-12-09 01:32] lishuhao opened #1213 "Show GitHub star count next to project link."
It's great, but it will be nice display star counts in the list, sorry for my poor english

[2016-12-09 01:59] joeybloggs commented on #1213
Stars are often not indicative of quality as people use them for bookmaking

[2016-12-09 02:50] kirillDanshin commented on #1213
I already think about it and I think it is a bad idea.
we all know about iris a their almost-one-day 5000-star increment, and we all know that nobody will rebase their PRs every hour to solve merge issues.

[2016-12-09 03:50] shurcooL commented on #1213
Doing something like this would have to be done via an API, there's no way to manage this manually.

How about the number of importers (other packages that import a given package)? It'd be harder to do, but more meaningful than stars, maybe.

godoc.org has an API that exposes its knowledge of importers. E.g., the `github.com/google/go-github/github` package is currently imported by [359 packages](

[2016-12-09 22:45] nouney commented on #1213
With a simple python script and  [go-search](http://go-search), it's possible to do something like [that](https://github.com/nouney/awesome-go).

[2016-12-09 22:49] joeybloggs commented on #1213
Unless I'm mistaken the number of importers is not guaranteed either as the numbers will not include private importers.

[2016-12-09 23:12] kirillDanshin commented on #1213
@joeybloggs yep, that's right.
exemplī grātiā, I use `dlog` in about hundred packages but https://godoc.org/github.com/kirillDanshin/dlog?importers shows only one.

[2016-12-09 23:37] joeybloggs commented on #1213
I don't mean to sound like a pessimist, and all of the ideas above are good, however this is a discussion has been had before not only here but in many similar sites without a concrete answer/solution

- stars are too arbitrary due to people using for bookmarking
- importers only shows public and not private
- latest activity isn't reliable as the code may be stable
- the list goes on....

I would

[2016-12-13 02:44] zet4 opened #1217 "Update tests to show correct order."
So recently I copied avelino/awesome-go structure for my own community listing for a service.
While dealing with helping people add new items because of the forced alpha sort I came up with a quick fix for it which can be seen in my [repo_test.go](https://github.com/beautiful-discord-community/resources/blob/master/repo_test.go),  line [95](https://github.com/beautiful-discord-community/resources/

[2016-12-13 03:19] shurcooL commented on #1217
That sounds like a useful thing. Are you interested in making a PR for it?

[2016-12-13 03:30] zet4 commented on #1217
If you don't mind me updating travis to 1.7 and rewriting it to use testing instead of log then sure

[2016-12-13 03:53] shurcooL commented on #1217
I don't see why not. Go 1.7 is the current stable release of Go.

[2016-12-13 04:05] zet4 commented on #1217
I think you can see that in my PR but yes you do use log in your current testing.

[2016-12-14 11:40] #1217 closed

[2016-12-14 23:59] willfaught opened #1224 "Date/Time header link in TOC broken on awesome-go.com"
- Date/Time header link in TOC doesn't work
- ORM list appears as a paragraph, not a list

[2016-12-15 01:08] shurcooL commented on #1224
Can't reproduce. It seems fine to me:

![image](https://cloud.githubusercontent.com/assets/1924134/21207918/f88ae568-c238-11e6-887e-4d524f4df2d8.png)

[Goroutines section](https://awesome-go.com/#goroutines), on the other hand, does have an issue:

![image](https://cloud.githubusercontent.com/assets/1924134/21207932/14e5e7c6-c239-11e6-8d54-b9115d7d0eaf.png)

[2016-12-15 01:11] willfaught commented on #1224
Woops, you're right. It was the goroutine section that had the paragraph problem.

[2016-12-15 01:15] shurcooL commented on #1224
Ok, I've fixed that second issue in b9ad39eb9ebe1916b2d9e74bdd038aa00611e74c. Goroutines section now looks okay:

![image](https://cloud.githubusercontent.com/assets/1924134/21208113/faad145a-c239-11e6-9cb1-7ee18ee3a94a.png)

[2016-12-15 04:35] willfaught commented on #1224
Can you not reproduce the link issue?

On Wed, Dec 14, 2016 at 5:15 PM Dmitri Shuralyov <notifications@github.com>
wrote:

[2016-12-15 04:42] shurcooL commented on #1224
I can. That's why this issue is still open.

[2016-12-15 04:44] shurcooL commented on #1224
It's not just Date & Time, it's also "Generation & Generics" and any other header with an ampersand. It happens because of the difference in Markdown rendering between github.com and whatever's used on awesome-go.com.

[2017-01-14 21:04] bontibon opened #1259 "mini is no longer maintained"
From [mini](https://github.com/FogCreek/mini)'s README:

[2017-01-15 03:31] shurcooL commented on #1259
Thanks for reporting.

[2017-01-15 03:32] #1259 closed

[2017-01-15 18:39] kamilsk opened #1260 "integration with var.ci or something like it"
I see that sometimes people do not provide correct description to their pull requests. So, maybe it is better to integrate with some services look like var.ci ?

You can see it in action in similar project https://github.com/ziadoz/awesome-php/pull/755.

What do you think?

[2017-01-15 19:13] shurcooL commented on #1260
Sounds like a good idea, since this can indeed be automated.

Unless there are objections, someone motivated can work on implementing this.

[2017-01-16 01:27] appleboy commented on #1260
Sounds Good.

[2017-01-16 02:12] felipeweb commented on #1260
Sounds good

[2017-01-17 19:48] shurcooL opened #1263 "Should sanitize Markdown when rendering."
See https://github.com/avelino/awesome-go/pull/1127#discussion_r82932502. It still hasn't been done.

Blackfriday README says:

[2017-01-19 14:58] avelino commented on #1263
@shurcooL you can send the fix?

[2017-01-19 15:25] kirillDanshin commented on #1263
@avelino I've just committed the fix, pushing.

[2017-01-19 15:32] kirillDanshin commented on #1263
@avelino done

[2017-01-19 15:42] felipeweb commented on #1263
@kirillDanshin the tests now are broken because you missing a dependency

[2017-01-19 15:47] kirillDanshin commented on #1263
@felipeweb whoops! thanks, accidentally didn't `git add` it. fixed.

[2017-01-19 22:50] shurcooL commented on #1263
This was resolved by 7cee227b4a92e309127e315afa0b153934f6b6a4, closing.

Thanks @kirillDanshin.

[2017-01-19 22:50] #1263 closed

[2017-01-20 15:05] qrpike opened #1266 "Star count"
Would be amazing if next to the name it would have the stars the project has on github. Most important thing when looking through the list is how popular / active the project is.

[2017-01-20 18:32] kirillDanshin commented on #1266
@qrpike it's a bad idea because the stars on github isn't an reliable metric. the only reliable way to decide to use or not to use a package in your project - is to use your eyes and brain, but never watchers/stars/fork counts.

[2017-01-23 00:49] mcandre opened #1267 "http://awesome-go.com/: Internal links NOP"
The table of contents links to the Audio/Music section and such, fails to actually navigate there. The browser debugger shows the `id` attributes being mangled somehow.

Safari, macOS Sierra.

[2017-01-23 01:09] kirillDanshin commented on #1267
thanks.

dup of #1224.

[2017-01-23 02:02] shurcooL commented on #1267
Closing since it's a duplicate.

[2017-01-23 02:02] #1267 closed

[2017-01-25 00:51] qrpike commented on #1266
Definitely, but if 4 of the libraries have 2 stars and one has 2000 stars, there is no question which one I am going with.

[2017-01-25 00:56] joeybloggs commented on #1266
And that's exactly why @qrpike this shouldn't be done `stars != good library`

And if everyone thought that way then new libraries, that may be fantastic, would never get any attention.

[2017-01-25 01:00] qrpike commented on #1266
Something on the 99th page of hacker news may be better than the #1 item, but the front page is a culmination of what other people think is good. Same goes for Reddit or any other social ranking system.

[2017-01-25 01:04] joeybloggs commented on #1266
This isn't social media and people need to use their own judgement on what works for them.

[2017-01-25 01:28] qrpike commented on #1266
I don't think HN is social media, its a community around tech/development. As is github. But I rest my case. Good project even without stars.

[2017-01-25 01:58] kirillDanshin commented on #1266
I'm with @joeybloggs. we already maintaining a list of awesome projects and we filter out and merge only the best projects and trying to help projects to become better. you even can see that after [this commit](https://github.com/avelino/awesome-go/commit/dc872fce15a085165b1b93f2a693af41f8ab09b3) the community does better software just because they see that it is a recognized standard for the enti

[2017-01-25 12:32] #1266 closed

[2017-01-28 22:25] hloeffler commented on #748
radical solution:
move data into json, render subset of the data to README.md
also solves the sorting problems :)

[2017-02-07 06:33] AlekSi commented on #1213
We can use @buger's expirience from building https://ossmetrics.com.

[2017-02-07 09:00] buger commented on #1213
Thank you for mentioning.

There is no, and never be a clear metric on how to measure repository activity. There are packages which have 30 starts, but thousands of repositories depend on them, and there are projects with thousands of stars which are abandoned.

I indeed trying to this figured in my https://ossmetrics.com project. There is no way to tell how professional project is, and if it is r

[2017-02-07 18:19] robmuh opened #1280 "Really surprised not to find Tom Pelletier's go-toml under your config section"

[2017-02-07 18:28] shurcooL commented on #1280
Please feel free to use the [contribution process](https://github.com/avelino/awesome-go/blob/master/CONTRIBUTING.md) to add it. Thanks!

Closing because this issue isn't actionable.

[2017-02-07 18:28] #1280 closed

[2017-02-15 17:04] gnewton opened #1289 "Within each category have sub-categories: "Native" & "Non-native""
Native libraries are important (to many), so being able to quickly find the native vs. non-native would be useful. Having to search through is a pain.

Or, perhaps have a symbol or text colour that makes it easy to find native libs?

[2017-02-16 08:21] refaelsh commented on #1289
+1

[2017-02-18 19:16] alex-alrux opened #1295 "Text edits / fixes"
I made some nitpicky edits to CONTRIBUTING.md here: https://github.com/alrux-devops/awesome-go/commit/8413562c667d5f2bc31ef06925e20b404c83c977
If you think something like this is useful, I can send a PR.

[2017-02-18 21:21] kirillDanshin commented on #1295
Yes, please. send a PR.

[2017-02-18 22:32] #1295 closed

[2017-02-19 01:11] zet4 commented on #839
I feel like this issue should be closed due to lack of useful information (ie. links) and it's age (almost a full year now...).

[2017-02-19 02:28] #839 closed

[2017-03-04 17:41] kirillDanshin opened #1309 ""awesome-go" tags"
I propose to start an official `awesome-go` tag, so folks can search awesome go libs and see that they was reviewed by our list maintaining team, and a tags to search who exactly in our team approved the lib. For example, [go-isatty](github.com/mattn/go-isatty) could have [awesome-go] and [kirilldanshin] tags, [go-sciter](https://github.com/sciter-sdk/go-sciter) could have [awesome-go] and [appleb

[2017-03-04 19:15] shurcooL commented on #1309
I'm not sure what you mean by "tags", can you please elaborate?

[2017-03-04 22:50] kirillDanshin commented on #1309
@shurcooL GitHub topics. e.g., you can search `topic:awesome-go` to search for `awesome-go` topic (a.k.a. tag)

[2017-03-05 16:03] kirillDanshin commented on #1309
/cc @avelino @matrixik @appleboy @joeybloggs @felipeweb @dukex FYI

[2017-03-05 16:14] appleboy commented on #1309
I am ok.

[2017-03-05 16:32] avelino commented on #1309
ok

[2017-03-05 16:53] joeybloggs commented on #1309
My only question is are there really any benefits to adding the name of the approver?

I'm on board with the awesome-go tag.

[2017-03-05 18:13] kirillDanshin commented on #1309
@joeybloggs it's pretty useful for our dear folks. for example, our russian community frequently ask question like "is there any libs to do *X* that tested by *Y*". here *X* is anything you can do with Go, and *Y* mainly is one of @avelino, @shurcooL, @appleboy or my nickname 😄
so I think, first of all, we should have awesome-go tag, and I really want to give our folks ability to just search for *

[2017-03-05 18:20] joeybloggs commented on #1309
That makes perfect sense @kirillDanshin :+1: I didn't realise people would or are searching by tester/approver

[2017-03-06 03:20] dukex commented on #1309
Nice idea @kirillDanshin !

[2017-03-06 21:36] dariubs opened #1310 "Problem with list id in website"
In http://awesome-go.com/, there is something wrong to link list items in table of contents that contains '&' to it's id in page.

[2017-03-07 01:00] kirillDanshin commented on #1310
thanks

dup #1224

[2017-03-07 01:00] #1310 closed

[2017-03-07 13:27] matrixik commented on #1309
Good idea even that I don't think my reviews was of enough quality to tag some repos with my name.

[2017-03-26 00:37] shurcooL opened #1336 "False positive possible in duplicate link detection."
The duplicate link detection should only consider actual links to projects, and not other links in the description and such. /cc @kirillDanshin @rafaeljesus

See https://github.com/avelino/awesome-go/pull/1333 where it happened.

[2017-04-08 20:22] #1336 closed

[2017-04-10 13:47] #1260 closed

[2017-04-11 19:03] kirillDanshin commented on #1260
I think we should create a SoundsGoodBot 🤔

[2017-04-18 19:30] mrichman opened #1373 "Show Github star count next to project link"
Show Github star count next to project link

[2017-04-18 19:41] shurcooL commented on #1373
This came up in the past. See #1266.

Also, PR #1368 is relevant.

[2017-04-18 19:42] shurcooL commented on #1373
I'll close this because it's a duplicate of issue #1213, which is still open. I'll rename that one to be more discoverable.

[2017-04-18 19:42] #1373 closed

[2017-04-19 02:26] mrichman commented on #1213
There's a way to get download count here: https://help.github.com/articles/getting-the-download-count-for-your-releases/

[2017-04-19 02:37] joeybloggs commented on #1213
Unless I'm missing something @mrichman this only applies to the compressed source code downloads and any other binaries added to the release and not the actual code's files.

And since go get wraps git clone these counts won't be incremented.

[2017-04-19 02:42] mrichman commented on #1213
How about the number of clones? https://github.com/<user>/<repo>/graphs/traffic, though that data might only be visible to the repo owner

[2017-04-19 02:59] joeybloggs commented on #1213
Its's not a bad idea, however, with all the cloning from CI testing makes this unreliable as well, even if we could get the data. Also just because it's cloned a bunch does not make a project good or bad.

[2017-04-19 03:17] cactus opened #1374 ""stats and metrics" category?"
Is a "stats and metrics" category desired?
Could be useful for things like:
* [rcrowley/go-metrics](https://github.com/rcrowley/go-metrics) - Go port of Coda Hale's Metrics library
* [armon/go-metrics](https://github.com/armon/go-metrics) - A Golang library for exporting performance and runtime metrics to external metrics systems (i.e. statsite, statsd)
* [cactus/go-statsd-client](https://github.c

[2017-04-19 08:15] kirillDanshin commented on #1213
@joeybloggs about CI clones: numOfClones * 2 / 3.14? :))

[2017-04-19 08:44] JermineHu opened #1385 "About go test tool"
Recommend this [repo](https://github.com/cweill/gotests) for go test

[2017-04-19 13:44] shurcooL commented on #1385
Please see the [Contribution Guidelines](https://github.com/avelino/awesome-go/blob/master/CONTRIBUTING.md#contribution-guidelines).

To suggest or add entries to the list, we accept PRs rather than issues.

[2017-04-19 13:44] #1385 closed

[2017-04-23 15:33] FourSigma opened #1387 "SQLBoiler is not schema-aware. Need qualified table identifiers for FK."
SQL Boiler Version 2.20 using Postgres 9.6

When referencing a foreign key from another schema, SQLBoiler panics.

[code]

Executing the command:
[code]

[2017-04-23 18:35] shurcooL commented on #1387
If your issue is with the https://github.com/vattle/sqlboiler project, you should report it in its issue tracker at https://github.com/vattle/sqlboiler/issues. This is the wrong place.

[2017-04-23 18:35] #1387 closed

[2017-04-26 07:48] zerkms opened #1391 "Stats for projects"
Hi :-)

I just released a pre-alpha version of a Go tool that adds projects' stats directly into the awesome list, so that it was easier to choose among the most popular libs/projects

I created it because sometimes when you need to choose a library - there are 20 alternatives, but in most cases choosing among the most popular one (since they usually are the most supported ones or with the most fe

[2017-04-26 17:06] PuppyKhan opened #1393 "mudlark-go gets 404"
The link for mudlark-go (https://github.com/pwil3058/mudlark-go-pkgs) goes to a 404 not found

[2017-04-26 18:06] #1393 closed

[2017-05-19 14:55] #1213 closed

[2017-05-19 14:55] avelino commented on #1391
#1213

[2017-05-19 14:55] #1391 closed

[2017-05-24 17:57] Konstantin8105 opened #1432 "Go:generate"
Could you add tools for go:generate

[2017-05-24 18:01] shurcooL commented on #1432
Anyone can do it. See the [Contribution Guidelines](https://github.com/avelino/awesome-go/blob/master/CONTRIBUTING.md) for how to add things to the list.

[2017-05-24 18:01] #1432 closed

[2017-05-29 11:19] Konstantin8105 opened #1436 "Go:Generate"
Could you create in https://github.com/avelino/awesome-go a new part for GoTools - Go:Generate and add a few projects:
https://github.com/cheekybits/genny
https://github.com/vektra/mockery
https://github.com/maxbrunsfeld/counterfeiter
https://github.com/yudppp/json_snake_case
https://github.com/alvaroloes/enumer
https://github.com/opennota/re2dfa

and many other :)
Have fun.

[2017-05-30 21:45] shurcooL commented on #1224
I got an idea for a temporary workaround fix.

We can just rename those heading not to include the problematic `&` symbol. I.e., use "Date and Time" rather than "Date & Time".

It wouldn't completely resolve the issue, but at least fix it for the users. It's easy and quick.

[2017-06-01 19:14] Konstantin8105 commented on #1436
https://github.com/sasha-s/go-inline#generating-derived-code

[2017-06-05 13:00] kweber-tcc opened #1446 "Please curate this list"
This seems to me to be a list of any Go library that is submitted.  There are MANY libraries included with less than 100 stars and absolutely no documentation.  (Examples: https://github.com/siddontang/go-log, https://github.com/white-pony/go-fann, https://github.com/daviddengcn/go-pr, https://github.com/e-dard/godist)  Many libraries have no tests.  Many are no even stable yet.

What is the point

[2017-06-05 14:44] kamilsk commented on #1446
good point (except `less than 100 stars`)

[2017-06-12 11:07] avelino opened #1454 "added meetup topic"
List all Go meetups for user information

[2017-06-15 18:55] PotHix opened #1458 "Add a new rule to the guideline"
The project currently has 163 pull requests waiting for approval. Many of them are waiting for the author, instead of waiting for approvers.

I propose to add a new condition to all PRs: If the pull request was reviewed and is waiting for the author interaction for more than 5 days, it will be closed.

A project that is just text and has more than 150 opened PRs is weird for those who don't know i

[2017-06-16 04:51] joeybloggs commented on #1458
I'd say a time limit is a good idea, but 5 days may be too short a window, most people are pretty busy.

eg. Person finds time on Sunday to make a PR that requires some changes that he doesn't see till Monday but is busy with work, kids, open source projects etc... The PR would get closed before he may even find time to make changes.

I'd say at least 8 days to be fair, maybe longer, thoughts?

[2017-06-16 11:32] PotHix commented on #1458
LGTM

[2017-06-16 12:18] felipeweb commented on #1458
LGTM

[2017-06-16 13:08] avelino commented on #1458
@PotHix send PR upgrade contribute file and PR template pls

[2017-06-16 14:15] appleboy commented on #1458
LGTM @PotHix Please send the PR.

[2017-06-16 14:35] matrixik commented on #1458
LGTM with more days than 5. 8-10 looks fine, but no more than 14.

[2017-06-16 16:14] dukex commented on #1458
LGTM, thanks @PotHix

[2017-06-16 16:48] kirillDanshin commented on #1458
LGTM, and I agree with @matrixik

[2017-06-16 19:08] #1458 closed

[2017-06-18 17:38] kirillDanshin commented on #1454
love that idea 👍

[2017-06-29 00:07] adhiravishankar opened #1475 "Goenv in Configuration"
As The 'GoDotEnv' Github repository is a configuration library to configure servers using .env file, that library should be under Configuration rather than Utilities.

[2017-06-29 00:09] adhiravishankar opened #1476 "Go Request Category"
There should be a Go HTTP client libraries such as gentleman, grequests, request, sling, gorequest, etc. There are enough libraries and enough variations to form its own category. I've named five there, and I'm sure if we went through the list, there would be more.

[2017-07-16 11:28] #748 closed

[2017-08-13 06:50] cokeboL opened #1541 "wanna add foxmutex repo"
foxmutex is a lib which helps to debug deadlock, it will log out of relative code's stacks info.
I want to make a pull request for foxmutex repo: [https://github.com/naivefox/foxmutex](https://github.com/naivefox/foxmutex)
 I think it should be under 'Debug', but there isn't a ‘Debug' categorie.
And I don't use coverage service, is it a must for pull request?

[2017-08-19 05:42] c0b opened #1548 "idea: make https://awesome-go.com/ a more sophisticated server than one index page"
from JavaScript background world here, the https://bestof.js.org/ serves as a curated list of all awesome JavaScript projects, but this site does more things than current https://awesome-go.com/ is only one static index page

1. project page like (https://bestof.js.org/projects/bootstrap) has imported README from the project
2. can list all projects order by popularity or by trending,
     like ht

[2017-08-19 06:19] avelino commented on #1548
Optimal Ideai, automatically extracting from markdown (maintaining a single information base).
Do you implement it?

[2017-08-21 05:14] c0b opened #1550 "add application category: internet application"
the Lantern project is a great tool for people to circumvent internet censorship system, for those who live in China, Iran, Cuba, and anywhere has large scale internet censorship, the official introduction from https://getlantern.org
:          Fast, reliable and secure access to the open internet

1. https://github.com/getlantern/lantern (written in Go)
2. https://getlantern.org/en_US/

[2017-08-27 20:15] cassiobotaro commented on #1224
Fixed with #1505

[2017-08-27 20:15] #1224 closed

[2017-09-18 21:48] ipstone opened #1588 "Add sift search tool to this index please."
This is a really cool tool: https://github.com/svent/sift

[2017-09-18 23:52] cassiobotaro commented on #1588
@ipstone feel free to open a PR

[2017-10-03 16:49] avelino commented on #1374
@cactus you send PR pls?

[2017-10-03 16:50] avelino commented on #1436
you send PR pls?

[2017-10-03 16:50] #1475 closed

[2017-10-03 16:51] avelino commented on #1476
you send PR pls?

[2017-10-03 16:51] avelino commented on #1541
send PR pls

[2017-10-03 16:51] #1541 closed

[2017-10-03 18:01] Konstantin8105 commented on #1436
Awesome, but tomorrow. :)

[2017-10-03 18:45] cactus commented on #1374
@avelino ok. PR opened.

[2017-10-06 18:38] cristianoliveira opened #1611 "Add ergo under "Utilities""
Hello there.

Ergo aim to be a utility to for managing multiple apps running on different ports made easy through custom local domains.

It fits well for a project under "Utilities" section

#hacktoberfest :)

[2017-10-06 21:26] EyesBear commented on #1588
@avelino That repo doesn't have godoc, goreportcard or tests.
Their doc is located here: https://sift-tool.org/docs.
Is it still ok to add it?

[2017-10-11 19:12] cassiobotaro commented on #1588
yep

[2017-10-11 19:13] cassiobotaro commented on #1588
yes

[2017-10-12 16:33] avelino commented on #1550
read pls https://github.com/avelino/awesome-go/blob/master/CONTRIBUTING.md#contribution-guidelines
`At least 3 items are needed to create a new category.`

[2017-10-12 16:33] #1550 closed

[2017-10-12 16:53] avelino commented on #1446
I find it relevant to this question to improve the quality of the list.

Star in Repository does not demonstrate the quality of the project, today we review the proposals asking for the following items:
- test (coverage should be >= 80%, tool to help [cover.run](https://cover.run/). There's a packet we can't charge that item, example: #1594)
- lint
- documentation
read more: https://github.com/ave

[2017-10-12 17:12] marioidival commented on #1446
I do not like this measure by stars. Tests and doc it's better to this...

[2017-10-12 17:13] avelino commented on #1289
This link lists all the native packages, doesn't that solve?
https://golang.org/pkg/

We can insert this link in [websites topic](https://github.com/avelino/awesome-go#websites) or [header](https://github.com/avelino/awesome-go#awesome-go---) (on README), you see how a solution?

#sorrydelayonreply

[2017-10-12 17:19] #922 closed

[2017-10-12 17:22] avelino commented on #1309
Would we put this tag after accepting the PR? Generating a new commit?
It would be ideal to be automatic, does anyone have any idea how to do it?

[2017-10-12 17:52] caarlos0 commented on #1446
Maybe having a good score on goreportcard as well?

[2017-10-12 17:53] shurcooL commented on #1446
Number of stars is a measure of how interesting a library is multiplied by how many people have seen it. If a good library is created and not yet shared everywhere, it won't have many stars. That doesn't mean it's not good, just that it hasn't been shared/seen by many people yet.

For example, https://github.com/golang/arch is an official Go repository that has 17 stars at this moment.

![image](h

[2017-10-12 17:55] kirillDanshin commented on #1309
I can write a bot that will open an issue for merged libraries

[2017-10-12 17:59] theckman commented on #1446
It seems very contrived to correlate the quality of the package/software to the interest in it (stars). We've seen projects on GitHub get a lot of stars, very rapidly, when they hit HackerNews... even if that project isn't the best solution. I don't think a PR explosion of a project that's a week old should be an indicator of its quality.

Maybe we could form as a small group of individuals in the

[2017-10-12 19:48] schigh commented on #1446
It's tricky. Sometimes a large number of stars is just a by-product of good social engineering (if it's on the front page of Hacker News, it has to be good, right?)

That said, there is definitely a critical mass somewhere that would clearly indicate that a package is not only popular, but also useful and relatively bug-free. I have no idea what that threshold might be (probably 500+ in my opinion

[2017-10-12 19:57] shurcooL commented on #1446
Another factor to keep in mind is that by setting criteria for inclusion, we influence the kinds of things people are more likely to do. If we make it good things like having documentation, tests, no lint issues, etc., people can fix those.

If we make it a requirement of having minimum N stars, we'll be causing people going out of their way to seek out stars, likely by annoying others and spammin

[2017-10-13 05:02] matrixik commented on #1446
I'm with @shurcooL we should require only things that can be directly affected by repo owners.

[2017-10-13 10:12] cassiobotaro commented on #1446
Stars are not a good metric. Maybe a proposal to change coverage when project is hard to test, but i'm really afraid about that.

[2017-10-13 10:31] cassiobotaro commented on #1289
what means a native package?

[2017-10-13 14:02] joeybloggs commented on #1446
stars != quality agreed

In my experience 99% of the time a project is hard to test it’s because of the way it’s composed and can be better refactored to support tests; having said that there are edge cases but those should be treated on a case by case basis IMO

[2017-10-13 17:07] avelino commented on #1309
Very nice @kirillDanshin , send PR pls
After entering the master I put it to run on the same server as the `awesome-go.com`

[2017-10-13 18:18] dvrkps commented on #1446
Number of imports is also valid metrics for library type packages.

[2017-10-13 19:31] kirillDanshin commented on #1446
@dvrkps No, and will never be. You forgot about thousands of closed-source commercial projects.

[2017-10-14 15:18] dvrkps commented on #1446
@kirillDanshin yap, you are right. i forgot that :)

[2017-10-22 18:51] Konstantin8105 commented on #1436
Is that issue closed

[2017-10-22 18:51] #1436 closed

[2017-10-24 02:45] #1611 closed

[2017-10-24 02:46] avelino commented on #1446
By the majority vote we see that star is not a good metric, closed the issue.

[2017-10-25 11:58] PotHix commented on #1446
Hi, folks. I have something to add to this one. Looks like this issue is not just related to the number of stars but to improve the curated list.  Is the [go-fann](https://github.com/white-pony/go-fann) library (just one example) he mentioned according to our current standards? In case it's not, the issue is still valid.

@avelino :point_up:

[2017-10-25 18:04] shurcooL commented on #1446
That library was added in 2014 directly into master without a PR, see 5bf6e084a46a82bcc8e8433ef6ddca14af08998c. At that time, the standard for inclusion was probably quite different.

If there are issues with individual libraries, they can be dealt with specifically.

[2017-10-25 18:24] PotHix commented on #1446
I don't think this argument invalidates the content of the issue. The issue asks to curate the list. In case it was valid in the past and it's not valid anymore, it should be removed. Isn't that the case?

Maybe this issue is too broad for that and we can split into multiple issues or get help for that, but the content is still valid.

I'm just saying that a good reason for closing would be: "We w

[2017-10-25 18:59] shurcooL commented on #1446
I didn't say the content of this issue is invalid, I just dug into the history of how that package was added and shared my findings.

I think that'd be more actionable.

[2017-10-26 05:38] dadleyy commented on #1446
for what its worth, I think it would be helpful for the maintenance of the `README` if we added the badges to each project, something along the lines of:

[marlow]: https://github.com/dadleyy/marlow
[marlow.report-img]: https://goreportcard.com/badge/github.com/dadleyy/marlow?style=flat-square
[marlow.report-url]: https://github.com/dadleyy/marlow
[marlow.docs-img]: http://img.shields.io/badge/god

[2017-10-26 12:57] PotHix commented on #1446
Great idea @dadleyy! It would help a lot to keep the list in a good state.

We could also schedule some monthly cleaning for those who don't comply with our standards.

[2017-10-27 13:01] cassiobotaro commented on #1446
README loading can be very slow, and badges have cache. I believe that people who choose a library without quality standards should report for us. People are always better than technology.

[2017-10-27 13:41] PotHix commented on #1446
In this case, we will make people choose a library from an awesome list just to find out ti's not awesome. It doesn't look a good UX for me.

We should try a PoC first just to understand the size of the problem.

[2017-10-27 22:02] shurcooL commented on #1446
@PotHix See #1368, #1213, #1266 for discussion/implementation of a similar idea (showing star counts) in the past.

[2017-10-27 23:02] PotHix commented on #1446
Thanks for the reference @shurcooL! It makes sense. :)

I did a simple search and replace to use just one badge and these are the results:

![image](https://user-images.githubusercontent.com/14836/32127982-34c0f490-bb59-11e7-9aa2-301baf01d37a.png)

As stated, it's not viable. :)

We just have to think about the best way to curate the list. Maintaining an awesome list and expecting people to report

[2017-11-04 14:41] mapl opened #1664 "add current github stars next to every item"

[2017-11-04 16:03] joeybloggs commented on #1664
@mapl this has been discussed many times, please see [here](https://github.com/avelino/awesome-go/issues/1446#issuecomment-340107433)

The short of it is github stars != project quality

[2017-11-05 09:46] #1664 closed

[2017-11-05 09:56] mapl commented on #1664
alright. thanks

[2017-11-06 13:41] avelino opened #1666 "chat channel, gitter or gopher slack"
Today we use `Gitter` as a channel for instant communication.

Which channel do you prefer?
- gitter - https://gitter.im/avelino/awesome-go
- gopher slack (required subscription, unfortunately) - http://gophers.slack.com/messages/awesome-go

[2017-11-06 13:48] crgimenes commented on #1666
gopher slack for me

[2017-11-06 13:48] felipeweb commented on #1666
i really prefer slack

[2017-11-06 13:50] appleboy commented on #1666
Create new channel in https://gophers.slack.com

[2017-11-06 14:15] felipeweb commented on #1666
http://gophers.slack.com/messages/awesome-go

[2017-11-06 15:01] avelino commented on #1666
@felipeweb exist [#awesome](http://gophers.slack.com/messages/awesome) we're inside the slack go, it doesn't make sense to put `-go` in the end (suffix), pls close channel `#awesome-go`

[2017-11-06 15:13] felipeweb commented on #1666
I do not have permission to delete channels even created by me
Em seg, 6 de nov de 2017 às 13:02, Avelino <notifications@github.com>
escreveu:

[2017-11-06 15:59] avelino commented on #1289
Close by lack of interaction

[2017-11-06 15:59] #1289 closed

[2017-11-06 19:11] matrixik commented on #1666
From this two I have no preference, other out of this two I prefer discordapp.com

[2017-11-07 00:57] appleboy commented on #1666
I vote discordapp.com +1

[2017-11-08 15:58] kirillDanshin commented on #1666
p.s. @avelino https://awesome-go.com/ is down, check out ASAP plz

[2017-11-10 16:23] avelino commented on #1666
My opinion: I think I better go to where the community has, today `slack`
About discord: We would have to create a new community, convince people to use discord

All agree to `migrate to slack`?

[2017-11-11 11:52] #1666 closed

[2017-11-14 01:00] #1588 closed

[2017-11-21 05:59] ColtonProvias commented on #1446
A better metric may be to show how many projects import the packages. For full applications, then stars or some download count may be better.

[2017-11-21 06:24] joeybloggs commented on #1446
Imports count doesn’t work because of private projects; this was already mentioned above.

[2017-11-21 12:56] campoy commented on #1446
I think @bketelsen might be interested on this issue.

[2017-11-21 18:10] #1454 closed

[2017-11-23 02:17] uLan08 opened #1695 "Gopher resources category?"
How about a list of repos that has gopher resources? I have a few in mind.

[2017-11-25 15:20] XELAJ commented on #1548
it would be cool to make export *.md file, cause you can get more features like top of packages, pre-moderating (from community) cool things etc. but it is just imho, don't critiсize it :thinking:

[2017-11-28 18:41] kevinburke opened #1705 "maybe stop relying on "golint""
There are a lot of problems with it and situations where it flags things that are not actually problems. This is confusing and discouraging. It also doesn't have a maintainer.

Just to name a few from the issues list.

https://github.com/golang/lint/issues/354
https://github.com/golang/lint/issues/350
https://github.com/golang/lint/issues/286

Along with others I've run into, for example on https:

[2017-11-29 15:02] kirillDanshin commented on #1705
[code]
it has nothing to do with golint. it's the go tool vet output. if you don't get it via `go tool vet --all`, you may want to enable more rules or update the Go to latest stable.
there is nacl.Load(), but you're trying to write an example in [`nacl_test`](https://github.com/kevinburke/nacl/blob/3b09eff637ffc86f0aba9cf8804c7ff3b8deb2ce/example_test.go#L1), not the [`nacl`](https://github.com/k

[2017-11-29 15:02] #1705 closed

[2017-11-29 15:57] kevinburke commented on #1705
Apologies, but there’s a zero percent chance it’s my error. If it was, my test suite would fail and go doc would fail to render the example. Neither of those things happen.

I’ll find the root cause and submit a patch today to make that clear.

[2017-11-29 16:14] kirillDanshin commented on #1705
basically, no, in your case it will work with tests and go doc, but go vet will indicate it as an error and will be right

[2017-11-29 16:26] kevinburke commented on #1705
It's this issue: https://github.com/gojp/goreportcard/issues/187

Also reported here: https://github.com/gojp/goreportcard/issues/113

and here: https://goreportcard.com/report/github.com/arsham/expvastic

also here: https://github.com/gojp/goreportcard/issues/113#issuecomment-331786252

here's a discussion of an error in the handling of this situation inside "go vet": https://github.com/golang/go

[2017-11-29 16:49] kevinburke commented on #1705
I'm not 100% sure what this is referring to:

I ran into one of the "piece of shit" edge cases while trying to update the x/crypto/ssh package: https://go-review.googlesource.com/c/crypto/+/80145#message-1d05ae3ca1b90b6041ab9d5e6edfc88e6e89f38c

Others have as well, multiple times:

- https://github.com/golang/lint/issues/354
- https://github.com/golang/lint/issues/290
- https://github.com/golang/

[2017-11-29 19:48] kirillDanshin commented on #1705
note, that you just guessed the continuation of word from [a list of options](http://www.thefreedictionary.com/words-that-start-with-sh). also, this part of message was a joke and was not meant to be insulting to any Gopher at all.

anyway, it's not changing the subject of this issue

[2017-11-29 19:49] kevinburke commented on #1705
Oh, for sure man.

On Wed, Nov 29, 2017 at 11:48 Kirill Danshin <notifications@github.com>
wrote:

--

--
Kevin Burke
925.271.7005 | kev.inburke.com

[2017-11-29 23:29] kevinburke commented on #1705
Would also love to point you at the "Purpose" disclaimer for golint:

Which doesn't seem to match up with my interactions with contributors to this repository.

[2017-11-29 23:35] kirillDanshin commented on #1705
@kevinburke I need to also point out that when I use golint/govet output to analyze repository, I assume that they can determine only most generic errors and I checking out every error if I can.
so, basically, we can ignore golint/govet results if we see that there are nothing developer can fix and improve overall code quality.
golint/govet will never replace human analyzing, code review of each f

[2017-12-02 15:10] sirkon opened #1710 "New item in text processing may be?"
https://github.com/sirkon/ldetool

Not a library, it is a code generator of high performance log parsers.

[2017-12-05 01:03] avelino commented on #1710
@sirkon send PR pls, **read it before**: https://github.com/avelino/awesome-go/blob/master/CONTRIBUTING.md

[2017-12-05 01:03] #1710 closed

[2017-12-05 01:05] avelino commented on #1695
What do you mean by "gopher resources", sent example

[2017-12-05 03:20] uLan08 commented on #1695
What I mean by gopher resources is repos or projects in where you can get images, vectors, gifs, svgs, etc. of the go gopher mascot. Here are some that I have seen.

https://github.com/ashleymcnamara/gophers
https://github.com/egonelbre/gophers
https://github.com/golang-samples/gopher-vector
https://github.com/shalakhin/gophericons

[2017-12-06 01:11] avelino commented on #1695
@uLan08 you send PR?

[2017-12-06 03:05] uLan08 commented on #1695
@avelino Yes, will do.

[2017-12-06 07:46] appleboy commented on #1695
fixed via #1716

[2017-12-06 07:46] #1695 closed

[2018-01-03 20:52] ldemailly opened #1749 "awesome-go badge"
related to #1309 but slightly different:

Have a specific documented markdown would be great,
for now
[code]
maybe ?

[2018-01-03 20:57] ldemailly commented on #1749
or a variant of
https://raw.githubusercontent.com/sindresorhus/awesome/master/media/mentioned-badge.svg

[2018-01-04 20:03] ldemailly opened #1751 "slack badge doesn't render on https://awesome-go.com/"
while it works fine on github, on https://awesome-go.com/ I get
![screen shot 2018-01-04 at 12 02 56 pm](https://user-images.githubusercontent.com/3664595/34581994-4aab0cc2-f147-11e7-9d8d-4ec7816140d9.png)

and
https://s3.eu-central-1.amazonaws.com/ngtuna/join-us-on-slack.png
[code]

[2018-01-13 04:54] ldemailly commented on #1749
I used
![](https://raw.githubusercontent.com/istio/fortio/master/docs/mentioned-badge.svg?sanitize=true)

[2018-01-31 14:06] jtemporal commented on #1751
View from firefox 57.0.1
![screenshot from 2018-01-31 12 05 27](https://user-images.githubusercontent.com/6595551/35627115-0cef161a-067f-11e8-925e-30c06ae1f5e0.png)

[2018-01-31 14:11] jtemporal commented on #1374
#1605 was closed if anyone wants to address this issue feel free to do it. :smile:

[2018-01-31 20:55] ldemailly commented on #1751
![screen shot 2018-01-31 at 12 55 25 pm](https://user-images.githubusercontent.com/3664595/35647006-0c542d92-0686-11e8-86da-d8d8be9ca6ba.png)
works now ! thanks !

[2018-02-01 04:53] cactus commented on #1374
I tried, but it was rejected because projects *already linked to in the file* (just moved to the new category) failed some lint tests. Good luck to anyone with more time on their hands to pester upstream repositories!

[2018-02-01 12:45] jtemporal commented on #1374
Hi @cactus unfortunately the packages need meet the quality standards on our contributing guide. That helps us keep a curated high level listing of packages. That's one of the things that make them awesome :wink:

[2018-02-01 17:10] andradei commented on #1446
Already discussed: Number of stars and number of imports aren't good metrics. Specially when awesome-go is used to actually discover awesome Go projects, which means that new projects that are high quality could use the exposure at awesome-go to actually get imported and starred when appropriate.

[2018-02-01 17:13] bketelsen commented on #1446
I would love to help curate this list.

[2018-02-07 10:49] anandgavai opened #1794 "remove go-pkg-rss feed package that no longer exists"
https://github.com/jteeuwen/go-pkg-rss

[2018-02-10 17:54] hashworks opened #1798 "remove c6 since it's neither properly documentated nor working"
I recently tried out [c6](https://github.com/c9s/c6), which describes itself as a "sass-compatible compiler". It's under development since May 2015, and has 916 commits, however 896 of those are from 2015 and only 20 happened in Aug 2017. Since then, nothing happened. Nearly every issue is from c9s himself, two issues from other people are asking about how to use this – normal when there is nearly

[2018-02-15 15:12] LuigiBaute opened #1808 "multi language"
Hello, I'm interested in contributing to this project by offering a translation to the  readme.md file, let me know if interested. the translation would be made to Spanish which is my native language.

[2018-02-19 10:08] renatosuero opened #1816 "Package used here is a fork"
I found this package https://github.com/aandryashin/ggr , but is a fork of https://github.com/aerokube/ggr
The fork doesn't updated

[2018-02-23 12:23] avelino commented on #1816
you send PR pls?

[2018-02-23 12:28] avelino commented on #1808
@LuigiBaute I like the idea, but it would give a job to keep.

New PR we would have to make translation to other languages (the person who is sending PR may not dominate the Spanish or other languages we may have), how did you imagine this workflow?

[2018-02-23 12:30] avelino commented on #1798
@c9s can we help your package in some way?

[2018-02-23 12:32] avelino commented on #1794
fixed on #1799

[2018-02-23 12:32] #1794 closed

[2018-02-23 12:33] avelino commented on #1749
Sorry, I did not understand this issue, what would be your proposal?

[2018-02-23 17:32] ldemailly commented on #1749
Publish a badge and a snippet of GitHub markdown that projects can add to their Readme once listed

[2018-02-23 18:39] avelino commented on #1749
Does everyone like it?
My proporsal: ![awesome-go](https://user-images.githubusercontent.com/31996/36610603-957fabd8-18af-11e8-89be-41b1873c8de1.png)

[2018-02-26 19:38] #1816 closed

[2018-03-24 12:07] avelino opened #1857 "readme in english"
ref: https://github.com/avelino/awesome-go/pull/1851#pullrequestreview-106697189

The above reference says it all, it seems to me a great project but do not understand the README to read more about the project.

My proposal is to put in the contribution guide that needs to have the README content in **English** (a common language for all)

[2018-03-24 12:13] appleboy commented on #1857
aggree + 1

[2018-03-26 08:11] matrixik commented on #1857
Would you prefer entire README in English or there could be only part in English that say what this library is for?

[2018-04-03 15:52] avelino commented on #1857
@matrixik For me it should be whole in English
What opinion of you?

[2018-04-03 15:53] avelino commented on #1808
Closing the issue for lack of interactivity.
@LuigiBaute failed to propose a solution

[2018-04-03 15:53] #1808 closed

[2018-04-03 15:57] avelino commented on #1749
We're going with this one?
[![Awesome-Go](https://cdn.rawgit.com/sindresorhus/awesome/d7305f38d29fed78fa85652e3a63e154dd8e8829/media/badge.svg)](https://github.com/avelino/awesome-go)

We need an automated test to check the README to see if it contains the badge. Who's proposing?
@ldemailly

[2018-04-04 01:32] ldemailly commented on #1749
I don't think automated test is needed, just have people have the option to use badge is probably fine. ie point to it in https://github.com/avelino/awesome-go/blob/master/README.md
with the markdown to use, something like
[code]

assuming you check in the badge as svg in docs/mentioned-badge.svg

[2018-04-06 11:40] matrixik commented on #1857
@avelino After some thinking you are probably right. This list for English speaking user base. If library/tool is useful only to some specific lang/country there it probably should not be here.

[2018-04-11 08:17] BobbyBabes opened #1882 "New Go+Qt GUI frameworks"
.

[2018-04-13 01:00] kyoh86 opened #1885 "ucnak/climax is dead"
https://github.com/ucnak/climax

I found it but now I cannot create PR  for some reasons

[2018-04-13 07:50] kamilsk commented on #1885
@kyoh86, where did you find it?

[2018-04-15 09:00] Ma124 opened #1889 "go-python: NAIVE go bindings"
Typo at https://github.com/avelino/awesome-go#embeddable-scripting-languages
Probably should be "na**t**ive go bindings to the CPython C-API."

[2018-04-15 12:30] lamados commented on #1889
it's written as "naive" on go-python's page, so either it was a deliberate choice or the author needs to change it to "native" too

[2018-04-15 12:56] Ma124 commented on #1889
Oh OK

[2018-04-15 12:56] #1889 closed

[2018-04-19 20:10] #1882 closed

[2018-04-23 17:10] kyoh86 commented on #1885
Sorry, it's my mistake.

[2018-04-23 17:10] #1885 closed

[2018-04-26 09:09] OrlovEvgeny commented on #1857
I suggest that the comments in the code should also be in English

[2018-04-27 07:23] cuotos opened #1903 "Update not showing on awesome-go.com"
Is there a process I have missed to update awesome-go to match the files in the git repo?

I added a meetup to the list, and noticed a few other PRs that don't show on a-g.com

[2018-04-27 13:23] kamilsk opened #1904 "fix urls"
I wrote [check](https://github.com/kamilsk/check) tool and found some problems in the **awesome list**:

[code]

[2018-04-27 13:30] kamilsk commented on #1904
`github.com/tj/go-debug` already missing in `README.md` but still exists at the site https://awesome-go.com 🤔

[2018-04-27 14:40] appleboy commented on #1904
@kamilsk Please send the PR?

[2018-04-28 07:25] #1904 closed

[2018-05-10 21:41] kaxap opened #1931 "A copy of this list with number of stars/forks/issues provided"
Hi, I made a script to scrape this awesome list and augment each repository item with its stats, namely number of stars, forks and open issues.

Here is the [link](https://github.com/kaxap/awesome-go-processed) to augmented README.md.

I do agree with the comments in the previous discussions that number of stars/forks do not indicate the quality or usefulness of repos very well. Number of open iss

[2018-05-11 11:25] kamilsk commented on #1931
Nice, @kaxap! Could do you also add some additional metainformation about repositories? I mean last commit' date, last closed issue, etc. Some "live" status. What do you think?

[2018-05-14 02:10] benyanke opened #1936 "Add glauth - lightweight LDAP server"
https://github.com/glauth/glauth

Just took over as maintainer on this!

[2018-05-16 08:49] mnzt commented on #1903
I've noticed the awesome-go website has gotten quite out of sync with the README in the repo, too.

[2018-05-16 10:30] MobliMic commented on #1903
It doesn't look like it's using GitHub pages anymore?

https://github.com/avelino/awesome-go/blob/gh-pages/index.html

Looking at this file vs the source of awesome-go.com the js file referencing the readme from the GitHub API (https://api.github.com/repos/avelino/awesome-go/git/trees/HEAD) is not called which makes me think it's being hosted elsewhere now and requires updating by the maintainer.

[2018-05-18 12:54] ortuman opened #1945 "Update awesome.com"
https://awesome-go.com/ is out of date.

[2018-05-21 13:54] MobliMic commented on #1945
This seems like a duplicate issue of https://github.com/avelino/awesome-go/issues/1903

[2018-05-21 14:36] #1945 closed

[2018-05-30 05:24] koangel opened #1962 "add grapeSQLI is easy to use Sql Inject & XSS Parser.For golang"
grapeSQLI
grapeSQLI is easy to use Sql Inject & XSS Parser.For pure go (like libinjection)

grapeSQLI use libinjection fingerprint data and search mode.

libinjection is great and perfect library,so we just translate related code to golang. but we optimize the code for golang.

grapeSQLI is pure go library.

[2018-06-06 22:09] chriscamacho opened #1973 "missing g3n"
please see http://g3n.rocks

[2018-06-29 00:54] ldemailly commented on #1749
can you please un-assign me from this issue, I'm cleaning up my assigned issues

[2018-07-06 12:37] jpoley opened #2001 "Add this go kerberos"
please add this to security
https://github.com/jcmturner/gokrb5

[2018-07-06 20:47] avelino commented on #2001
send PR, before read pls: https://github.com/avelino/awesome-go/blob/master/CONTRIBUTING.md

[2018-07-06 20:47] #2001 closed

[2018-07-06 20:47] avelino commented on #1973
send PR, before read: https://github.com/avelino/awesome-go/blob/master/CONTRIBUTING.md

[2018-07-06 20:47] #1973 closed

[2018-07-06 20:48] avelino commented on #1936
send PR, before read: https://github.com/avelino/awesome-go/blob/master/CONTRIBUTING.md

[2018-07-06 20:48] #1936 closed

[2018-07-06 20:48] avelino commented on #1962
send PR, before read: https://github.com/avelino/awesome-go/blob/master/CONTRIBUTING.md

[2018-07-06 20:48] #1962 closed

[2018-07-09 07:20] matrixik commented on #1931
I would prefer to see this next to main README and no added to it. There could be link to it on top of README.

[2018-07-09 19:43] avelino commented on #1931
I would prefer to see this on site (awesome-go.com) not on README, build site on:

- merged on master (as it is today)
- automatic 0am (crontab by example)

On README polluted (visually)

[2018-07-14 06:47] bharatsewani1993 opened #2011 "I created a Golangjob Twiter Bot. @GolangJobBot can I add it to the list?"
https://twitter.com/GolangJobBot
Can I create a pull request to add it?

[2018-07-14 20:04] shersh opened #2012 "Add fission to list"
Add https://github.com/fission/fission to list of server frameworks.

[2018-07-17 09:40] muhammadaser opened #2016 "fake time for mock golang"
using fake time while mock database.
https://github.com/jonboulle/clockwork

i got from this tutorial
https://medium.com/agrea-technogies/mocking-time-with-go-a89e66553e79

[2018-07-20 18:26] plandem opened #2024 "Remove requirement to document implementations of official GO packages"
#2013

Do you really think that this is somehow related to quality of code or documentation?

What the reason to require document implementation of standard interfaces? E.g.:
[code]

From my point of view, It's just faking/cheating system and has nothing about quality of code or documentation.

P.S.: I can give you bunch of packages from **awesome-go** list that don't even have link to http://gore

[2018-07-26 13:06] kirillDanshin commented on #2024
@plandem sorry, but no, it's not what we're going to do. this is basic golint rules, if you want to add some exceptions - please create issue in the golint repo

[2018-07-26 13:06] #2024 closed

[2018-07-26 13:09] kirillDanshin opened #2036 "Review existing packages and remove low-quality packages"
we should do a full review of all packages in the list to check if all packages are pass our guidelines.

[2018-07-26 13:11] kirillDanshin commented on #2024
UPD: @plandem see #2036

[2018-07-26 13:11] plandem commented on #2024
So it's fine to have packages without http://goreportcard.com at all, but for new packages you are asking to comment standard implementation?!

[2018-07-26 13:12] plandem commented on #2024
ok, got you

[2018-07-27 10:24] hryyan opened #2037 "Could you add b2 to Other Software"
[b2](https://github.com/hryyan/b2) is a  Go client and library for B2 Cloud Storage

[2018-07-30 05:59] #2037 closed

[2018-07-31 09:44] ninedraft commented on #2036
Remove or refine [blas](https://github.com/ziutek/blas) repo.
No docs, no examples

[2018-07-31 09:48] ninedraft opened #2043 "Remove or refine blas repo"
https://github.com/ziutek/blas

No docs, no examples, no tests

[2018-07-31 09:52] ninedraft opened #2044 "Remove spate/vectormath"
https://github.com/spate/vectormath
No docs, no tests, no  #examples
#2036

[2018-07-31 09:55] ninedraft opened #2045 "Remove ematvey/gostat"
https://github.com/ematvey/gostat
No docs, no tests, no examples, even code is not formatted
#2036

[2018-07-31 09:58] ninedraft opened #2046 "Remove anschelsc/gofrac"
https://github.com/anschelsc/gofrac
No docs, no examples, no tests, no updates since 2015
#2036

[2018-07-31 10:00] ninedraft opened #2047 "Remove skelterjohn/go.matrix"
https://github.com/skelterjohn/go.matrix
no docs, no README, no examples
#2036

[2018-08-19 00:28] Aaron-JM opened #2070 "Add Aaron-JM/GoHook"
_[GoHook](https://github.com/Aaron-JM/GoHook) is a simple library for creating discord Webhooks. It currently meets all the guidelines and will continually be improved._

[2018-08-31 22:33] moonlit7seas opened #2084 "Github慢？"
https://www.anydoor.space/register  用这个好了
1. 自由访问全球网站， google 超高速搜索，流畅观看 youtube 1080p～4K 视频，流畅代理Telegram

2. 各种福利网站加速， 91， tumblr 视频加速专用节点，解决卡顿

3. Windows，Mac，Android，IOS, TV 全平台支持

4. 支持多账号同时登陆，可以共享给家人朋友

5. 7天无理由退款

[2018-09-01 00:06] #2084 closed

[2018-09-04 00:32] runner-mei opened #2087 "Add github.com/runner-mei/GoBatis"
Add https://github.com/runner-mei/GoBatis to list of ORM
An easy ORM tool for Golang, support MyBatis-Like XML template SQL

[2018-09-11 07:51] argonavt11 opened #2094 "Add https://github.com/jonas-p/go-shp"
The nice package. It helped me. https://github.com/jonas-p/go-shp

[2018-09-12 08:06] avelino commented on #2094
Send pull request

[2018-09-12 08:06] #2094 closed

[2018-09-12 13:13] bysslord opened #2097 "yakvs 's link is 404."
I found it at: https://git.sci4me.com/sci4me/yakvs

[2018-09-12 21:01] avelino commented on #2097
@bysslord you send PR?

[2018-09-13 02:34] bysslord commented on #2097
#2098

[2018-09-13 04:12] onlyjob opened #2100 "fleet is obsolete"
"fleet" is obsolete hence it would be best to remove it from the list.

[2018-09-13 04:13] onlyjob opened #2101 "coop is obsolete"
github.com/rakyll/coop is obsolete since 2015. Please remove it from the list.

[2018-09-16 00:32] networkimprov opened #2103 "PR for new section "Go 2"?"
Would you accept a pull request for a new section of Go 2 links? e.g.

https://go.googlesource.com/proposal/+/master/design/go2draft.md

[2018-09-16 12:30] hhrutter opened #2105 "PDF section"
Hi!

I would like to register [pdfcpu](https://github.com/hhrutter/pdfcpu) (a PDF processor) with awesome-go
but I just can't find a category that may be a good fit.

Projects that end up under _Miscellaneous_ or _Utilities_ are hard to find and gain less visibility.
Is there any chance to create a _PDF_ category for PDF related projects?

Thank you.

[2018-09-16 14:40] avelino commented on #2105
To create a new category must have (at least) 3 packages. If I have not need to sort in another similar topic (related).

Do you send PR?

[2018-09-16 17:54] avelino commented on #2105
To me, it looks like *sub category* of **files**, sound good?

[2018-09-17 02:08] hhrutter commented on #2105
Thanks so much for accepting my project 💚

[2018-09-17 02:08] #2105 closed

[2018-09-23 20:58] avelino commented on #2097
closed PR, @bysslord your resend?

[2018-09-24 16:20] #2097 closed

[2018-09-25 15:05] #2087 closed

[2018-10-03 02:04] greatGregLiu opened #2127 "Some info"
a Physically Based Renderer (PBR) in Go:  https://github.com/hunterloftis/pbr

NanoGUI is a a minimalistic cross-platform widget library for OpenGL: https://github.com/shibukawa/nanogui-go

[2018-10-13 02:57] robertoduessmann commented on #2044
I can work on this :)

[2018-10-13 13:34] #2044 closed

[2018-10-17 10:12] painhardcore opened #2170 "Remove websysd/websysd"
https://github.com/websysd/websysd
No tests, latest commit May 8, 2016, no one watches issues and PRs.

[2018-10-17 10:14] painhardcore commented on #2170
For #2036

[2018-10-17 12:02] onlyjob commented on #2101
Thanks.

[2018-10-18 11:03] painhardcore opened #2175 "Remove blogcin/ToTo"
https://github.com/blogcin/ToTo
No tests, latest commit Oct 31, 2016.

[2018-10-18 13:28] painhardcore opened #2178 "Remove zachlatta/postman"
https://github.com/zachlatta/postman
No tests, Latest commit 74f941f  on Feb 27, 2017, issues abandoned

[2018-10-18 15:25] #2175 closed

[2018-10-18 15:31] #2170 closed

[2018-10-19 01:00] #2178 closed

[2018-10-19 16:39] SaulDoesCode opened #2180 "Add MailYak"
put MailYak in the #email section, it's a pretty nifty email library from the same guy who built the original mgo mongo driver.

https://github.com/domodwyer/mailyak

[2018-10-22 15:06] #2045 closed

[2018-10-22 15:07] #2046 closed

[2018-10-22 15:07] #2047 closed

[2018-10-23 18:49] rkoesters opened #2186 "Add github.com/rkoesters/xdg"
https://github.com/rkoesters/xdg

I am not sure what section this would go in, maybe Configuration or Miscellaneous.

This differences between this and `github.com/OpenPeeDeeP/xdg` is that `github.com/OpenPeeDeeP/xdg` only implements the base directory standard (implemented by `github.com/rkoesters/xdg/basedir`) whereas `github.com/rkoesters/xdg` also implements:

* xdg-user-dirs (`github.com/rkoe

[2018-10-24 06:01] hemantasapkota opened #2188 "Add Go Playground for iOS"
https://itunes.apple.com/us/app/go-playground/id1437518275?ls=1&mt=8

It's a free app and comes with truckload of samples. It can be put into a new category called Mobile Apps. I've made a commit in my fork. Can I send a pull request ?

https://github.com/hemantasapkota/awesome-go/commit/4e0343f1571ba2d80ef52c2040298029a97285bf

Thanks

[2018-10-24 06:13] IsSwm opened #2189 "Add gin to server application?"
https://github.com/gin-gonic/gin

[2018-10-25 08:59] ceriath commented on #2189
It's already there, see https://github.com/avelino/awesome-go#web-frameworks

[2018-10-25 14:36] njncalub commented on #1751
It's not showing again on both the readme file and [awesome-go.com](https://awesome-go.com/). Already did the following as suggested by the [github help pages](https://help.github.com/articles/about-anonymized-image-urls/):

[code]

Maybe we can try using [shields.io](https://shields.io) badges?

[code]

[![Slack Widget](https://img.shields.io/badge/join-us%20on%20slack-gray.svg?longCache=true&log

[2018-10-25 14:54] cassiobotaro commented on #1751
@njncalub can you send a PR?

[2018-10-25 14:56] njncalub commented on #1751
Hi @cassiobotaro, I've added a PR at #2190.

[2018-10-27 09:55] #1751 closed

[2018-10-27 16:29] liipx opened #2195 "Add soar (SQL Optimizer And Rewriter)  "
soar   which is a tool for optimizing SQL query and also have ability to rewrite queries.   Open source by XiaoMi AI&Cloud DBA Team.

Now only give chinese language suggest, english version is in plan.

[2018-10-29 14:41] wI2L opened #2201 "Add fogleman/primitive"
**Description**: Reproducing images with geometric primitives.
**Link**: https://github.com/fogleman/primitive
**Category**: Images

[2018-11-01 07:35] IsSwm commented on #2189
Sorry, thank you, I used to find it in the server application directory.

[2018-11-01 07:35] #2189 closed

[2018-11-01 14:47] mmmguitar commented on #2180
+1 very handly library, clean and simple.

[2018-11-01 16:18] cassiobotaro commented on #2180
@SaulDoesCode please submit a pull request

[2018-11-09 14:44] ceriath commented on #1857
will this ever be implemented to the contribution guidelines?

[2018-11-09 14:46] avelino commented on #1857
@ceriath we accept PR

[2018-11-09 20:06] #2100 closed

[2018-11-09 20:06] cassiobotaro commented on #2100
thanks @ceriath and @onlyjob !

[2018-11-11 10:15] avelino commented on #2201
Send PR @wl2L

[2018-11-11 10:15] avelino commented on #2188
Send PR pls

[2018-11-11 10:16] avelino commented on #2195
Send pr pls

[2018-11-11 10:16] avelino commented on #2186
Send pr pls

[2018-11-11 10:16] avelino commented on #2070
Send pr pls

[2018-11-11 10:17] avelino commented on #2043
You send pr and set this issue on pr pls

[2018-11-14 18:45] rkoesters commented on #2186
Created pr https://github.com/avelino/awesome-go/pull/2227

[2018-11-16 12:29] sonyarianto opened #2229 "Add Imaginative Go"
https://github.com/sonyarianto/imaginative-go

[2018-11-16 14:38] ceriath commented on #1798
since #2217 got merged, i am closing this issue

[2018-11-16 14:38] #1798 closed

[2018-11-16 19:07] rkoesters commented on #2186
Fixed by b2eb02979f78bf64c4cefcb055e7c3d0eb61011e

[2018-11-16 19:07] #2186 closed

[2018-11-20 23:50] ceriath commented on #2012
If someone fixes https://goreportcard.com/report/github.com/fission/fission#golint this would be a great addition to the list!

[2018-11-20 23:50] ceriath commented on #2016
Please send a PR!

[2018-11-20 23:51] ceriath commented on #2127
Please send a PR!

[2018-11-20 23:51] ceriath commented on #2229
Please send a PR!

[2018-11-21 00:13] ceriath commented on #1903
@avelino what's going to happen with the site? Maybe it would be best to just redirect the domain to the repository?

[2018-11-21 08:35] shersh opened #2240 "Add agones to the list"
Agones is a library for hosting, running and scaling dedicated game servers on Kubernetes
https://github.com/GoogleCloudPlatform/agones

[2018-11-21 08:46] ceriath commented on #2240
Please submit a PR!

[2018-12-05 22:48] paulwaldmann commented on #1751
The link "http://gophers.slack.com/messages/awesome-go" doesn't work. Any solution to join the Slack channel?

[2018-12-06 13:31] ceriath opened #2274 "Review categories misc and utilities"
There are a lot of projects in those two categories. There might be some better places for some of them or enough similiar projects to find a new category.

[2018-12-10 02:23] qichengzx opened #2276 "Add Ethr(Network Performance Measurement Tool)"
Ethr is a cross platform network performance measurement tool written in golang.
https://github.com/Microsoft/Ethr

[2018-12-10 14:51] ceriath commented on #2276
Hi! Please open a PR to add it!

[2018-12-11 09:48] #2276 closed

[2018-12-17 09:37] hbakhtiyor opened #2287 "https://github.com/xor-gate/secdl not found"

[2018-12-18 16:11] ceriath commented on #1374
Apparently there is no real need for this right now, so i am closing this issue.

[2018-12-18 16:11] #1374 closed

[2018-12-18 17:58] avelino commented on #1903
check update now pls

[2018-12-18 18:02] ceriath commented on #1903
it's up to date now.

[2018-12-18 18:02] #1903 closed

[2018-12-18 19:22] #2287 closed

[2018-12-18 20:44] cactus commented on #1374
@jtemporal You realize it was a link that /already existed/ in the document, that was just /moved/, right?
It just so happened that moving it made it appear in the diff, and thus the bot had a chance to re-check it.

If such strict adherence is a requirement, then my recommendation is to recheck all repos periodically to avoid negative drift.

[2018-12-19 19:11] aashutoshrathi commented on #1446
@avelino Can I take this task?

[2018-12-27 13:36] kirillDanshin commented on #2103
I think we can accept a PR with a section related to Go2, but we still require more than three links in the proposed category to be added.

[2018-12-27 17:53] networkimprov commented on #2103
There is a good-size number of Go 2 proposals on the issue tracker which have received broad attention, and there are posts on the feedback wikis for both generics and error handling that should be considered. Would all that be welcome/sufficient for a new category?

[2019-01-05 03:40] nitishm opened #2310 "Add go-rejson to the list"
Description - Golang client for redislabs' ReJSON module using Redigo golang client.
Github - https://github.com/nitishm/go-rejson

[2019-01-07 09:45] ceriath commented on #2310
Please open a PR!

[2019-01-07 16:37] ceriath commented on #1749
closing this since #2295 got merged

[2019-01-07 16:37] #1749 closed

[2019-01-09 12:16] #2310 closed

[2019-01-12 17:04] philippgille opened #2321 "To which category can I add a key-value store abstraction with many interface implementations?"
Hi, I created https://github.com/philippgille/gokv, which consists of a simple key-value store interface and *many* interface implementations:

- Local in-memory: Go sync.Map, Go map, FreeCache, BigCache
- Embedded: bbolt, BadgerDB, LevelDB / goleveldb, Local files
- Distributed store: Redis, Consul, etcd, Apache ZooKeeper
- Distributed cache: Memcached
- Cloud: Amazon DynamoDB, Amazon S3 (and S3-

[2019-01-14 09:04] ceriath commented on #2321
Thanks!
I love the idea of having an abstraction layer, so you can easily swap out the underlying database, so it defintely should be on this list!

However, i think it would mostly fit in the **Database Driver** category. The problem is, that it's sorted between Relational and NoSQL. I see multiple implementations, that support multiple backends tho, so i'll just introduce a new category for thos

[2019-01-14 10:03] ceriath commented on #2070
This does not have any tests and seems to be still in development with open TODOs.

@Aaron-JM Feel free to submit it a PR after you finished the library :)

[2019-01-14 10:03] #2070 closed

[2019-01-14 10:04] ceriath commented on #2127
@greatGregLiu Feel free to submit a PR after fixing https://goreportcard.com/report/github.com/hunterloftis/pbr#gofmt :)

[2019-01-14 10:04] #2127 closed

[2019-01-14 10:06] ceriath commented on #2016
I opened a PR with this package, further comments on this package will take place there

[2019-01-14 10:06] #2016 closed

[2019-01-14 10:09] ceriath commented on #2195
@liipx  Tests seem to be outdated and not working anymore, so this package would not meet our quality standards right now. After someone fixes this, feel free to submit a PR!

[2019-01-14 10:09] #2195 closed

[2019-01-14 10:11] ceriath commented on #2201
@wI2L Please fix https://goreportcard.com/report/github.com/fogleman/primitive#golint and add tests, then feel free to submit a PR :)

[2019-01-14 10:11] #2201 closed

[2019-01-14 10:13] ceriath commented on #2229
@sonyarianto Tests seem to be broken, resulting in failing coverage checks. After you fixed those, please open a PR :)

[2019-01-14 10:13] #2229 closed

[2019-01-14 10:15] ceriath commented on #2240
From README: ``This software is currently alpha, and subject to change. Not to be used in production systems.``

Therefore it should not (yet) be on this list. @shersh  Please submit as a PR after it's in a stable state!

[2019-01-14 10:15] #2240 closed

[2019-01-22 20:16] Ma124 commented on #1931
I created something similar which is already integrated with the old build system: [commit diff](https://github.com/Ma124/awesome-go/compare/972768519f319e2f10f31f1105f8dc3d8fd1cb08..39c2204)

But if you start the docker container now you need to provide the `-e GH_TOKEN=<ghtoken>` where `<ghtoken>` is generated [here](https://github.com/settings/tokens).
You need the token because of the GitHub A

[2019-01-23 23:10] kaxap commented on #1931
@Ma124 I think it's a great idea! Personally, I had issues with the markdown's layout since I had added too many new columns. In this case I am sure @avelino can check your CSS modifications as well.

[2019-01-24 06:42] Ma124 commented on #1931
@kaxap I'm planning on making the tables sortable, adding octicons after the numbers in the columns (star, fork etc) and to provide a button to hide individual columns

[2019-01-24 13:16] #2321 closed

[2019-01-24 15:46] #2274 closed

[2019-01-24 15:48] ceriath commented on #2274
@Norris1z do i just close the issue or is there anything else to do?

[2019-01-24 15:50] Norris1z commented on #2274
do you have access to the issuehunt bounty?

[2019-01-24 15:52] ceriath commented on #2274
Don't think i do. Might have to be done by @avelino

[2019-01-24 15:53] Norris1z commented on #2274
Okay

[2019-01-24 18:09] Triple-Z opened #2344 "How to get the slack invitation link?"
I have clicked the "join us on slack" badge but it directed me into the slack page which required to sign in the `gophers` slack workspace. How can I get the `gophers` slack workspace invitation link?

[2019-01-26 05:50] aashutoshrathi commented on #1446
So, what is the final metric?

[2019-01-26 21:33] Ma124 commented on #1931
@avelino @kaxap
![image](https://user-images.githubusercontent.com/22096295/51793006-39de1480-21ba-11e9-85da-1352bd265839.png)

I added sorting and icons

Is this better?

[2019-01-30 14:58] ceriath commented on #2011
I am closing this issue since it is not really an issue. Just open a PR if you want to and we'll see there :)

[2019-01-30 14:58] #2011 closed

[2019-01-31 09:02] xuanjiazhen opened #2352 "remove go-type-assertion-benchmark"
https://github.com/hgfischer/go-type-assertion-benchmark

This library provides performance benchmarking for two ways to assert.
But its code is affected by the sprint method, and the result is inaccurate.
Although the correct code has already been submitted to PR, the author has let it go for a long time.

If you don't see the PR, it is extremely misleading, especially just getting started.

[2019-02-08 09:42] ceriath commented on #2352
I am closing this issue, if further discussion is required please use the PR #2363

[2019-02-08 09:42] #2352 closed

[2019-02-08 09:49] ceriath commented on #2103
I am not entirely sure if adding this would help out anyone. There are better places to get information about Go 2 in its current state. IMO we should wait until it's in a more finished state or a beta build or something is available.

[2019-02-08 10:24] networkimprov commented on #2103
Go 2 is not a product; please see
https://blog.golang.org/go2-here-we-come
https://github.com/golang/go/issues/29934

[2019-02-08 10:55] ceriath commented on #2103
Yes, my bad. I think we should accept a PR then, however, the three link rule still applies as mentioned already

[2019-02-08 13:24] justinclift commented on #2344
This should work:

&nbsp; &nbsp; https://invite.slack.golangbridge.org

:smile:

[2019-02-08 13:29] Triple-Z commented on #2344
Thx, it does work! On 2019-02-08 21:25 , Justin Clift Wrote: This should work: https://invite.slack.golangbridge.org 😄 — You are receiving this because you authored the thread. Reply to this email directly, view it on GitHub, or mute the thread.

[2019-02-08 14:12] justinclift commented on #2344
@avelino @Triple-Z This can probably be closed now. :smile:

[2019-02-08 18:51] #2344 closed

[2019-02-10 17:52] andreis opened #2367 "mholt/certmagic"
https://github.com/mholt/certmagic

Automatic HTTPS for any Go program: fully-managed TLS certificate issuance and renewal https://godoc.org/github.com/mholt/ce…

[2019-02-12 06:08] valarpirai opened #2370 "Add - Job scheduler"
Add the following job scheduler
https://github.com/jasonlvhit/gocron

[2019-02-12 11:51] cassiobotaro commented on #2370
@valarpirai Please open a Pull Request.

[2019-02-12 11:51] #2370 closed

[2019-02-12 11:54] cassiobotaro commented on #2367
@andreis Please open a Pull Request.

[2019-02-12 11:54] #2367 closed

[2019-02-12 13:06] andreis commented on #2367
@cassiobotaro no thanks

[2019-02-24 03:40] caalberts opened #2387 "Add toxiproxy - tool for microservice resilience testing"
Hi

I’d like to suggest adding toxiproxy https://github.com/Shopify/toxiproxy. I find it great for testing microservice resilience.

I’m happy to open a PR but not too sure which category should this fall into. It’s not exactly in “Testing” as that section applies more to testing go code.

[2019-02-24 23:20] cassiobotaro commented on #2387
Maybe "Networking" :thinking:

[2019-02-25 14:43] caalberts commented on #2387
It's already in networking. closing

[2019-02-25 14:43] #2387 closed

[2019-03-10 15:19] jadeydi opened #2417 "Can I put a open source forum in Go here?"
Main features:
1. No Go framework
2. Use database/sql without orm
3. Simple, and write from `hello world`

Here is address: https://github.com/godiscourse/godiscourse , and thanks

[2019-03-10 18:28] ecstaticcoder opened #2418 "[QUESTION] Do you accept Go tools implemented in another language ?"
I've released in open source a small Go preprocessor which allows to instantiate generic types and HTML templates.

https://github.com/senselogic/GENERIS

Unfortunately, I've implemented it in D, as this is my favorite language to develop such tools, so would it be completely pointless making a PR to suggest adding it to the Generation and Generics section ?

[2019-03-19 15:23] kyoh86 opened #2433 "We should replace toml library"
New one:
* https://github.com/pelletier/go-toml
    * Latest commit 6 days ago
    * `dep` depends on this one.

Old one:
* https://github.com/BurntSushi/toml
    * Latest commit on 15 Aug 2018

[2019-03-20 08:27] ecstaticcoder commented on #2418
So I guess the answer is no... ;)

Anyway, from the go-nuts forum I was already aware that Go developers don't like D at all, as both languages obviously compete against each other in the same development niche, hence my question.

Sorry for bothering you with that pointless proposal :)

Kind regards,

Eric

[2019-03-20 15:13] ceriath commented on #2433
Please open a PR!

[2019-03-20 15:13] ceriath commented on #2417
Feel free to open a PR!

[2019-03-20 15:18] ceriath commented on #2418
A pointless proposal is one that you simply close without waiting for a response.

[2019-03-20 19:14] ecstaticcoder commented on #2418
Indeed ;)

Reopening it...

[2019-03-22 07:55] antonmedv opened #2438 "Add tcell"
Add tcell and tview, much better alternative for termbox-go.

[2019-03-22 13:03] avelino commented on #2438
@antonmedv send PR

[2019-03-22 13:03] #2438 closed

[2019-03-22 21:49] complex64 opened #2440 "https://awesome-go.com/ shows a Watch Movies website"
https://awesome-go.com/ shows:

![2019-03-22-224920_1047x598_scrot](https://user-images.githubusercontent.com/63771/54854928-cc032480-4cf4-11e9-8477-5480fdbd71dd.png)

[2019-03-23 09:11] kirillDanshin commented on #2440
@avelino? O_o

[2019-03-23 10:33] #2440 closed

[2019-03-23 11:03] avelino commented on #2440
sorry

[2019-03-23 21:35] complex64 commented on #2440
No worries, thanks for the fix @avelino

[2019-03-24 10:14] ecstaticcoder commented on #2418
Ok obviously you don't have time to answer this simple yes/no question, but I can perfectly understand, as I'm myself maintaining more than a dozend open source tools, and my spare time is thus also very limited.

While obviously this very simple tool is very invaluable to me, as it fixes most design flaws that made Go  incomfortable to use for me, I also know that most Go developers like to use i

[2019-03-24 10:14] #2418 closed

[2019-03-26 06:39] Ma124 commented on #1931
@rororofff I'm still working on it. I've made [Awesome Framework](https://gitlab.com/Ma_124/awesome-framework)

[2019-03-26 17:45] Ma124 commented on #1931
#2445

[2019-03-26 22:41] avelino commented on #1931
That way we don't have indexing on Google, read more: #983

[2019-03-27 15:56] Ma124 commented on #1931
Why that? Isn't the result on awesome-go.com the same?

[2019-03-27 16:40] avelino commented on #1931
People usually search for some library Go on Google, have the content in render (HTML) makes Google find the awesome-go.com

[2019-03-27 17:31] Ma124 commented on #1931
I'm really sorry but I still don't get it. How could you solve that?

[2019-04-02 23:16] cassiobotaro opened #2453 "error on test case"
The follow line without period at the end was not caught by tests because it has a parenthesis at description.

`* [dot](https://github.com/dotchain/dot/) - distributed sync using (operational transformation/OT)`

[2019-04-02 23:25] #2453 closed

[2019-04-11 10:20] ceriath commented on #2417
@jadeydi Please open a pull request

[2019-04-11 10:20] #2417 closed

[2019-04-11 10:48] ceriath commented on #2433
Closing this in favour of the PR

[2019-04-11 10:48] #2433 closed

[2019-04-18 10:38] Ma124 commented on #1931
@avelino
I've read #983 several times now and the only SEO requirement you describe is that the file is put in the `gh-pages` branch and my pull request does that: https://github.com/Ma124/awesome-go-fork/tree/gh-pages .

Sorry if I'm annoying but I'm still not sure what the problem is so I can't fix it.

[2019-05-03 13:14] rmasci opened #2504 "Rivescript"
Can you add in here Rivescript?  Rivescript is an awesome addition to chatbots, works in go. I am using it at my company to make it drop dead simple to teach a chatbot how to say things.

www.rivescript.com

[2019-05-06 09:40] ceriath commented on #2504
Hi! Please open a Pull Request!

[2019-05-06 09:40] #2504 closed

[2019-05-08 05:31] prospero78 opened #2512 "Plis add this lint in GUI"
https://github.com/visualfc/atk_demo

Coder visualfc make nice binding for Tk.
LiteIDE -- this sofware write visualfc

[2019-05-19 08:10] SonicRoshan opened #2529 "A brilliant error handling library for golang"
I have just created a error handling library for golang. https://github.com/SonicRoshan/go-error-handler. If you can check out this library and add it to awesome go, that would mean a lot to me 😋😋😋😋

[2019-05-20 01:20] chenbo29 commented on #2529
you should need pull request

[2019-05-20 09:06] ceriath commented on #2512
Please open a pull request!

[2019-05-20 09:06] #2512 closed

[2019-05-20 09:06] ceriath commented on #2529
Please open a pull request!

[2019-05-20 09:06] #2529 closed

[2019-05-28 09:51] hhrutter opened #2542 "The site is down"
https://awesome-go.com/

<img width="489" alt="Screenshot 2019-05-28 at 11 49 56" src="https://user-images.githubusercontent.com/11322155/58468916-c2f06280-813e-11e9-84fe-52bfe7370e52.png">

[2019-05-28 12:49] cassiobotaro commented on #2542
@avelino can you take  a look?

[2019-05-28 15:12] hhrutter commented on #2542
aleady up again!

[2019-05-28 15:12] #2542 closed

[2019-06-24 23:22] yjst2012 opened #2585 "Please add Golang Auckland meetup group"
as follows:
* [Golang Auckland, NZ](https://www.meetup.com/Go-AKL/)

Thanks.
Jeff

[2019-07-01 10:09] ceriath commented on #2585
Please open a PR!

[2019-07-01 10:09] #2585 closed

[2019-07-24 19:11] ryukinix commented on #2036
Duplication of #1446?

[2019-07-25 08:26] sergey-shambir opened #2634 "Replace shellwords with go-shellwords"
This awesome list suggests [Wing924/shellwords](https://github.com/Wing924/shellwords) which has 1 release (last commit in Oct, 2017), 7 stars and is derived work based on go-shellwords.
Meanwhile [mattn/go-shellwords](https://github.com/mattn/go-shellwords) has 6 releases (last release in Feb, 2019) and 250 stars.

So I suggest to replace shellwords with go-shellwords.

[2019-07-27 15:42] ceriath commented on #2634
Please submit a PR

[2019-07-27 15:42] #2634 closed

[2019-07-28 08:54] hewiefreeman commented on #1446
If nobody is on this task I could help by starting a Go service which would quality check all GitHub projects linked in an MD file every 24 hours.

If I'm not mistaken with any of the metrics, It would be something like:
 1) Run [goreportcard](https://github.com/gojp/goreportcard) on project and fail if:
     - project grade is under B+
     - or gofmt is under 80%
     - or govet is under 100%

[2019-08-01 13:55] pjebs commented on #1446
Some packages have good reason why they can't get that level of code coverage

[2019-08-01 15:12] avelino commented on #1446
@pjebs evolve your affirmation, describe the reason, only then can we update our contribution document
We analyze all the PR humanely, the projects that come out of this pattern we study case by case

[2019-08-01 15:19] avelino opened #2649 "periodic review of the projects contained in the list"
Some reasons we have to do always review:
- Project no longer exists
- Discontinued design
- Design lowered quality
- Any kind of problem

We need to write a software to assist us in this review, if a project comes out of the predefined default open an issue automatically on GitHub, we can not duplicate the issue (happening this would be unsustainable)

[2019-08-01 15:19] avelino commented on #2036
@ryanleary nop, this issue is so that we can review all the projects continued in the README, some project.

It would be interesting to have software that helps us to do this automatic review, I will open a issue to evolve this matter: https://github.com/avelino/awesome-go/issues/2649

[2019-08-01 15:21] #2036 closed

[2019-08-01 15:22] #2103 closed

[2019-08-14 17:18] rbkumar88 opened #2673 "Go library for sending/setting meeting invites to Outlook"
Do you know any for this?

[2019-08-21 06:12] aQuaYi opened #2687 "vektra/mockery: A mock code autogenerator for golang"
vektra/mockery: A mock code autogenerator for golang

https://github.com/vektra/mockery

[2019-08-21 07:22] Ompluscator opened #2688 "A library for decoding html into structs"
Hi.

I'm using this library  for over a year: https://github.com/zlepper/encoding-html
It's really easy to use and it saves  a bunch of time and reduce an enormous amount of golang code.

[2019-09-04 18:28] SirWindfield commented on #1446
Hey there! I got some free time and can curate the list. I will go for this measures as of now. I will modify the test coverage to be 75% for now though and will exclude the need of badges. This should remove a huge amount of libraries at first. PRs can be created to add the badges to their readme's after that.

Are you guys ok with that? @avelino?
I can write a small tool to do it automatically s

[2019-09-05 10:03] dentych commented on #1446
What is going on with this list? The pull requests are piling up and many libraries are no longer maintained. The overall state of this list is rapidly decaying. It seems as if there are plenty of people who are willing to help - what's going to happen?

[2019-09-10 06:59] godcong opened #2709 "Improve time and star information"
`Star` allows users to know that the project is more focused.
`Time` is to mark the deadline of star.

The above is just a personal suggestion

[2019-09-11 05:57] yinggaozhen commented on #2709
@godcong maybe you can try it~ [awesome-go-cn](https://github.com/yinggaozhen/awesome-go-cn/blob/master/README_EN.md)

[2019-09-11 15:00] flimzy opened #2712 "Should included packages have any particular license?"
One generally assumes that Go libraries are open source, but this isn't always true. Some may be require a commercial (pay) license, others may simply not be licensed for re-use at all.

What are/should be the guidelines for including non-open-source code in this list?

Would it perhaps be reasonable to add (perhaps optionally) license information for listings?

[2019-09-18 03:46] panjf2000 opened #2718 "None of the owners is reviewing PRs?"
Dear owners of Awesome-Go,

I saw the last merged PR was almost a month ago and no one is reviewing those opened PRs, including mine: #2715, some of those were also opened a month ago, not pushing you just want to know what is happening here?

Thanks~

[2019-09-18 09:18] SonicRoshan commented on #2718
Pretty true, even my PR hadn't been reviewed

[2019-09-18 18:52] miry commented on #2718
@panjf2000 Try this one: https://github.com/uhub/awesome-go

[2019-09-18 19:02] kirillDanshin commented on #2718
I’m going to review PRs today.

[2019-09-19 04:14] panjf2000 commented on #2718
@kirillDanshin
Thanks for the reply.

[2019-09-19 21:58] kirillDanshin commented on #2718
Just a note about what I'm doing right now.

As you may notice, I'm closing all old PRs with any issues. In this way, I can clean up our PRs. If I closed your issue, please don't be offended, and feel free to open a new one once all problems will be fixed.

I know that we have a rule that requires review by at least 2 maintainers, but as we all can notice, there's a bunch of PRs that did not recei

[2019-09-19 23:04] ceriath commented on #2718
thanks @kirillDanshin for the work you did today.

However, this is still an issue of this repository. In the last few months, @cassiobotaro and me handled most of the workload. Due to some personal circumstances, i did not have any time to review anything, which resulted in a lot of PRs to remain unreviewed for over a month. It's true, that i tried to spend at least of bit of the little free time

[2019-09-19 23:13] ceriath commented on #2712
Since our rules require us to review the quality of code and a test coverage, it requires the code to be open sourced. Also, this is mainly a place for go developers, who are searching for a tool or library, to help with their own work. Therefore closed source code would be pretty much useless on this list.

[2019-09-19 23:13] ceriath commented on #2688
Please open a PR

[2019-09-19 23:13] #2688 closed

[2019-09-19 23:13] ceriath commented on #2673
Please open a PR

[2019-09-19 23:13] #2673 closed

[2019-09-19 23:17] ceriath commented on #1446
There are some comments in #2718 about the issue of maintainer activity. Basically, there are only 2 or 3 people who actually still work on this list on a regular basis. If they don't find the time to do so, we end up in this exact situation.
I'd like to add some more people, but unfortunately, i do not have the permissions to do so.

[2019-09-19 23:18] ceriath commented on #2649
I like the idea and agree that this is necessary. However, as of right now, we definitely lack the manpower to do so.

[2019-09-19 23:18] ceriath commented on #2687
Please open a PR

[2019-09-19 23:18] #2687 closed

[2019-09-19 23:19] ceriath commented on #2709
Could you elaborate more on what you intend to do, since i do not really understand it.

[2019-09-19 23:19] kirillDanshin commented on #2718
@ceriath actually, I think we should revert that 2 reviewers requirement, as basically I violated this rule a dozen times just to revive our PR pool. it's sounds insane.
searching for new maintainers is difficult, currently according to our MAINTAINERS list, we have 11 of them, but it doesn't help currently. I assume, it's because of quite difficult time around the world. I was away from awesome-g

[2019-09-19 23:24] kirillDanshin commented on #2712
Actually, I think we should go further on that question.

Think of it like this: developers frequently work for a company. Some licenses could be dangerous to use in commercial projects.
For example, GPL, AGPL etc. are dangerous for use in commercial products in some cases due to the fact that license requires you to disclose source code publicly without requiring a special password or key for unp

[2019-09-19 23:26] ceriath commented on #2718
Maybe we should also consider to move the active list to an organisation, so it will be easier to manage. I agree that we should just merge things if we don't find any issues, but it still feels wrong to me to just change the rules this easily without approval of the repository owner.

I am definitely willing to help bringing the project back on track for that matter and I'll be actively reviewing

[2019-09-19 23:31] kirillDanshin commented on #2718
I don't think it's right to discuss this idea without @avelino.

We don't change the rules, all we can is to bring a PR with changes and ask @avelino if he agrees.

P.S. I don't think it's related to the quality standard, actually

[2019-09-19 23:34] kirillDanshin commented on #2709
@godcong please see https://github.com/avelino/awesome-go/issues/1266

[2019-09-20 00:02] kirillDanshin commented on #2718
Well, I think we're good for next couple of hours: we have 14 open PRs, 13 of them is pending submitter response and 1 is waiting for an @avelino's decision.

in the meantime, we need to find a way to consistently maintain the project.

[2019-09-20 02:13] yinggaozhen commented on #2709
@godcong
Maybe you can try this one [awesome-go-cn_en](https://github.com/yinggaozhen/awesome-go-cn/blob/master/README_EN.md). This is a mirror repository of awesome-go. This document repository has **sorted star**, provides **update times**, **archived**, and so on. In addition, this repo also provides the Chinese version. [awesome-go-cn](https://github.com/yinggaozhen/awesome-go-cn/blob/master/R

[2019-09-20 02:18] kirillDanshin commented on #2709
@yinggaozhen actually, we could use the results you generate to finally filter out unmaintained items from the original list.

Although I'm not a fan of judging a library by its star counts, I like that you have icons for archived/unmaintained projects

[2019-09-20 03:58] panjf2000 commented on #2718
Thanks @kirillDanshin and @ceriath for your personal efforts in awesome-go repo.

And about the solution you are seeking to solve this issue, here is my proposal: I agree with @kirillDanshin, revert that 2 reviewers requirement and since I am an active visitor to awesome-go and a beneficiary from it, I can help you with some trifles, for instance, I assist in notifying you when the PR list reaches

[2019-09-20 08:46] flimzy commented on #2712
That's some comfort :)

Is this documented somewhere? It would be nice to know what the guidelines are, for those consuming the list, even if they aren't part of the submission criteria.

[2019-09-20 08:49] flimzy commented on #2712
As usual, IANAL, but AFAIK, "license headers" aren't usually required. I know many projects choose to use them, but I think that's more a CYA approach than a legal requirement. Many file formats don't even allow these sorts of headers (JSON files, images, etc), but are generally considered to fall under the license terms provided in the package.

Having said that, if there are ever conflicts (i.e.

[2019-09-20 19:54] ceriath commented on #2712
@flimzy you can find the guidelines here https://github.com/avelino/awesome-go/blob/master/CONTRIBUTING.md

also, about the license headers, they are defintely not required, at least with common licenses

[2019-09-20 19:58] flimzy commented on #2712
Yes, I'm very aware of those guidelines. But they don't mention licensing. I was asking if you had licensing guidelines somewhere.

[2019-09-20 20:33] ceriath commented on #2712
Oh, sorry for the missunderstanding. I am not aware of any that exist. Maybe we should create that...

[2019-09-20 21:38] flimzy commented on #2712
I'm re-reading this, and I think what I hear you saying is that, by virtue of code-reviewability, the code is by nature open-source.  Is that right?

This isn't really true, except perhaps in the most liberal sense of "open source."

Many commercially-licensed libraries have their source public, but cannot be used or redistributed without a fee, so not really "open".

In other cases, such as [this

[2019-09-21 04:36] kirillDanshin commented on #2712
I think Apache 2.0 is common enough :)

![image](https://user-images.githubusercontent.com/9026581/65367792-e84e3280-dc3f-11e9-9d5c-b689254b93a1.png)

ref: https://opensource.org/licenses/Apache-2.0

IANAL, but I was consulting a lawyer company on that stuff, and they actually loose a case due to missing headers in sources.

speaking of images, they're usually licensed under different licenses, mo

[2019-09-21 10:02] flimzy commented on #2712
Hrm, if that's a requirement for the Apache license, I need to update a few of my packages. :/

Anyway, the real point should be: Does this list care about the licensing? (IMO, it should)  And if so, what criteria ought to be met for inclusion?  Or if not for inclusion, should licensing info be included in the listing (perhaps including "Unknown")?

[2019-09-21 10:06] kirillDanshin commented on #2712
@flimzy actually, you can't get in the list with really bad goreportcard score, which includes `license` lint :) I'm trying to check if package actually opensourced and if the license includes copyright notice of previous authors, but with our current rules I can't, for example, require project to switch from a dangerous license

[2019-09-21 10:09] flimzy commented on #2712
Oh that's good to know. So the license requirements are indirectly documented at goreport card. But it looks like that only checks for the _existence_ of a license file. That file could, in theory say "No permissions granted, Go way, geezer!" and still pass :)

[2019-09-21 10:14] kirillDanshin commented on #2712
@flimzy

oh my f~~~~~~~~~ ~~~~~~~ 🤯

ok, I'll get us a real license checker as soon as I can

[2019-09-21 10:21] flimzy commented on #2712
Not to beat a dead horse, but in case this thread shows up in the Googles, and scares people about Apache 2.0 license, the "header per file" requirement does apply to official ASF projects ([source](https://www.apache.org/legal/src-headers.html)), but this strict requirement doesn't apply to non-ASF projects ([source](https://www.apache.org/legal/src-headers.html#faq-nonasf)), and even as a legali

[2019-09-21 10:30] kirillDanshin commented on #2712
@flimzy it's a tricky question, but I'd really recommend to include the boilerplate header where it's possible just in case

[2019-09-21 11:32] kirillDanshin commented on #2712
@flimzy speaking of license headers, check out https://github.com/go-kivik/kivik/pull/418 (although I probably needed to wait and open issue 451 later lol)

[2019-09-21 11:49] godcong commented on #2709
@yinggaozhen tks
This is exactly what I want

[2019-09-21 11:49] #2709 closed

[2019-09-21 21:25] ceriath commented on #2712
@kirillDanshin i had no idea that this was an apache requirement. Guess i violated it regularly then and need to fix some stuff

[2019-09-26 12:03] dentych commented on #2718
This is what I fear will happen if something is not soon done with this repo. A multitude of derivatives. In my opinion, this nullifies the purpose of the list - if you anyway have to go to 20 different lists to find libraries, you might as well not have the lists.

What is so great about open source is that we can come together as a community and work towards a common goal. Creating spin-off list

[2019-09-26 13:56] avelino commented on #2718
We need contributors to revise PR, lately I'm out of time, sorry. Who has an interest in helping keep telling me that I add

[2019-09-26 14:49] panjf2000 commented on #2718
@avelino

Do you mean a new reviewer of awesome-go?

[2019-09-26 16:37] ceriath commented on #2718
@panjf2000 apparently.
@avelino when you find the time, please read @dentych's and my suggestion

[2019-09-26 16:49] panjf2000 commented on #2718
@avelino
Then I am applying for that 🙋‍♂️

[2019-09-26 21:00] avelino commented on #2718
- I agree that we should review the rule of 2 reviewers, @ceriath @kirillDanshin do you update the [Contribution Guidelines](https://github.com/avelino/awesome-go/blob/master/CONTRIBUTING.md)?
- Move to an organization in the management force, do not find it interesting to have an organization for only one Reporitorio, it would be interesting @golang have an organization for packages maintained by

[2019-09-27 12:51] tdewolff commented on #1446
See https://github.com/avelino/awesome-go/pull/2734 for an attempt to clean up some subpar packages.

[2019-09-27 13:46] xhit opened #2742 "Dead project: go-mail/gomail"
Gomail is unmaintained and is dead and have a lot of issues.

Link: https://github.com/go-gomail/gomail

[2019-09-27 17:03] ceriath commented on #2742
Please open a PR

[2019-09-27 17:03] #2742 closed

[2019-09-28 01:41] avelino commented on #2718
Do we have any more points to complement this issue? Can we close?

I see we need more collaborators, I would like to promote more people by karma

[2019-09-28 02:53] panjf2000 commented on #2718
So do we make any conclusion? Like the minimum number of reviewers to review a PR?

[2019-09-28 10:25] avelino commented on #2718
To me it was clear that:
- we need more reviewers
- we download the number of reviewers, to leave with menas barriers (we must trust 100% in our maintainers)

Does anyone have any more recommendations?

About migrating to an organization: I think it's important but we need to understand which makes sense and accept us given that in the past I spoke with Golang and we were not welcomed, in the end

[2019-09-28 10:50] panjf2000 commented on #2718
You get my vote in that decision of reducing the number of reviewers to a PR but my suggestion is that we should check up the merged list regularly to clean those unqualified repositories, as for the organization thing, we have to maintain the status(still keep this repo under your personal Github account) since the Golang team didn't accept the awesome-go.

[2019-09-28 14:54] deankarn commented on #2718
Hey all, sorry I don't chime in all that often my job and open source work keep me very busy and when I'm not working spend my time with my two boys.

As for moving to an organization or not, I don't think it matters one way or the other, will leave that decision to @avelino

I agree a few more reviewers may be necessary given the number of requests and I'm sure the current maintainers' busy lives

[2019-09-28 15:40] panjf2000 commented on #2718
@deankarn
I love the idea of automating things with programs/scripts, I think we can take some time to investigate it, finding out a way to reduce the efforts from the human.😆

[2019-09-29 10:04] avelino commented on #2718
About talking more, we can use slack for instant communication, but do not like synchronous work, can send me message there but answer when you are online (Async working)

Let's go to **slack** https://github.com/avelino/awesome-go/issues/1666

[2019-10-07 15:14] #2718 closed

[2019-10-28 08:35] painhardcore opened #2800 "Remove eaburns/flac"
Latest commit was 2 years ago.
Unanswered PR since 2015.
Low test coverage
`coverage: 23.6% of statements
ok  	github.com/eaburns/flac	0.002s
`

PR #2799

[2019-10-28 08:52] painhardcore opened #2802 "Remove ian-kent/goose"
Package without tests.
Latest update Dec 21, 2014
PR #2801

[2019-10-28 11:01] panjf2000 commented on #2802
Closing it since PR has been merged.

[2019-10-28 11:01] #2802 closed

[2019-10-28 11:40] panjf2000 commented on #2800
Closing it since PR has been merged.

[2019-10-28 11:40] #2800 closed

[2019-11-10 19:09] deepnum opened #2812 "how to list all the files in a website"

[2019-11-10 22:03] kirillDanshin commented on #2812
I'm sorry, but I think this question was meant for a search engine.

Closing this issue, but feel free to reopen it with some clarification of your particular question.

Thanks!

[2019-11-10 22:03] #2812 closed

[2019-11-11 07:14] deepnum opened #2813 "A golang tool to list all the files in a website"
is there any?

[2019-11-11 07:15] deepnum commented on #2813
I will pass a url like example.com and it will list all the file available on this domain

[2019-11-11 10:36] panjf2000 commented on #2813
@deepnum
I believe that you can get what you want by searching on README of awesome-go with your keywords directly instead of opening an issue for it.

So I'm closing this issue, but you are welcome to open another issue if you have new questions.

[2019-11-11 10:36] #2813 closed

[2019-11-11 11:01] deepnum commented on #2813
Reopen this , because the readme doesn't contain any tool to do this

[2019-12-09 07:45] kilgaloon opened #2853 "Changing description of project"
Hey guys, i'm interested about procedure when updating project description?

[2019-12-19 03:42] VBQL opened #2864 "Installation issues on Windows 10 x64"
Hello, while trying to install this package I ran into the following issue:
[code]
My Go version is go1.13 windows/amd64

Any help would be greatly appreciated, thank you!

[2019-12-20 15:23] #2864 closed

[2019-12-26 15:04] panjf2000 commented on #2853
What did you plan to update?

[2019-12-26 15:11] kilgaloon commented on #2853
This is current description
`leprechaun - Job scheduler that supports webhooks, crons and classic scheduling.`

New one describes freshly added feature
`leprechaun - Job scheduler that supports webhooks, crons, classic scheduling and remote code execution`

[2019-12-26 15:15] panjf2000 commented on #2853
Are you the owner of this repo? if so, just open a PR for it, as others did.

[2019-12-27 08:44] kilgaloon commented on #2853
Yes i am owner of the repo. Yes i wanted to know is it same when you are submiting project, thanks!

[2019-12-27 08:47] panjf2000 commented on #2853
Refer to #2833

[2019-12-27 15:47] #2853 closed

[2019-12-31 08:40] antimatter96 opened #2883 "Site is down"
Website : https://awesome-go.com/

<img width="1440" alt="Screenshot 2019-12-31 at 14 10 08" src="https://user-images.githubusercontent.com/12068176/71615423-4a231e80-2bd7-11ea-9c25-c3547f15a797.png">

First noticed : 8:49 am UTC

[2019-12-31 08:41] antimatter96 commented on #2883
Relates to #2542

[2019-12-31 08:47] antimatter96 commented on #2883
Site is up at https://5e0b00a48f8744c631006a3d--awesome-go.netlify.com/

https://master--awesome-go.netlify.com/ also gives 404

[2019-12-31 08:51] panjf2000 commented on #2883
Maybe we should try to reach @avelino for help.

[2019-12-31 17:19] antimatter96 commented on #2883
@panjf2000 I have no idea how to reach him

[2020-01-02 08:28] antimatter96 commented on #2883
Can anyone from @netlify help @biilmann

[2020-01-02 21:57] ceriath commented on #2883
it seems to be up right now, so i guess it was a temporary outage

[2020-01-02 21:57] #2883 closed

[2020-01-20 14:30] alexpevzner opened #2919 "Internet Printing Protocol (RFC 8010) in pure Go"
Hi,

Please consider adding my library into your list:

https://github.com/alexpevzner/goipp

This library implements a core part of Internet Printing Protocol (RFC 8010). Surprisingly, so far there were no working IPP implementations in Go.

[2020-01-22 06:45] jiuker opened #2922 "Can you add this project?"
https://github.com/jiuker/ycss
Only one configuration is needed, you can automatically complete your own style of CSS code! You just need to write class, CSS is generated by us!

[2020-01-27 16:28] RingoMckraken opened #2927 "Game Library of Power"
It looks like that one is abandoned.

[2020-01-29 04:50] houseme opened #2928 "Can you add this project?"
https://github.com/json-iterator/go
A high-performance 100% compatible drop-in replacement of "encoding/json"
Jsoniter Golang version could be more than 6x times faster than standard lib (encoding/json). And the number is acheived with runtime reflection instead of go generate.

[2020-01-29 18:19] AristarcoP commented on #282
Um... I think you're confusing terms., CLI is indeed Command-Line Interface but CUI stands for Character-based User Interface. You know, the user interface programs like Borland's Turbo languages IDEs. Or programs like Word for DOS or Sidekick that even had a character-based calculator. I think this CUI abbreviation was later changed to TUI (Text-based User Interface) at some point.
That's what I

[2020-01-30 09:46] alexpevzner commented on #2919
Issue replaced with PR

[2020-01-30 09:46] #2919 closed

[2020-01-30 14:14] orsinium opened #2933 "WebAssembly?"
There are few links in the official dos:
https://github.com/golang/go/wiki/WebAssembly#interacting-with-the-dom

I think their number will grow. What do you think about adding a section for wasm and putting all these links for the beginning?

[2020-02-05 15:06] x0rzkov opened #2944 "repo.go is missing"
Hi,

Hope you are all well !

The file repo.go is missing, can you add it please ?

Thanks in advance.

Cheers,
X

[2020-02-05 15:18] panjf2000 commented on #2922
Please open a PR for it, here is an example: #2907

[2020-02-05 15:18] #2922 closed

[2020-02-05 15:20] panjf2000 commented on #2927
Thank you for the notice, we will deal with it later.

[2020-02-05 15:20] #2927 closed

[2020-02-05 15:22] panjf2000 commented on #2928
Could you take the spare time to open a PR for this repo, here is an example: #2907

[2020-02-05 15:24] panjf2000 commented on #2933
We will consider adding a new category when there are at least three items underneath it.

[2020-02-05 15:26] panjf2000 commented on #2944
Sorry, I don't quite get it. What's the repo.go file?

[2020-02-05 15:27] lucmichalski commented on #2944
the repo.go file for generating the markdown

[2020-02-05 15:28] lucmichalski commented on #2944
https://github.com/avelino/awesome-go/blob/master/Dockerfile#L8

[2020-02-05 15:33] panjf2000 commented on #2944
I see, but it must be gone for a while, have no idea who remove it, I will try to figure it out.

[2020-02-05 15:34] lucmichalski commented on #2944
thanks

[2020-02-05 17:59] orsinium commented on #2933
Great! I will do. The page above has a list of projects in the category but most of them are dead. I've found only a few useful and alive. However, I think, it will be much better soon since go+wasm combo is really promising.

[2020-02-08 07:58] #2928 closed

[2020-02-11 01:11] jingle1000 opened #2953 "add cinema as a "video" package"

[2020-02-11 23:24] ceriath commented on #2953
Please open a PR

[2020-02-11 23:24] #2953 closed

[2020-02-25 14:39] Emixam23 opened #2972 "amqp could be added"
Hey!

https://github.com/streadway/amqp should be added.
It's a go RabbitMQ client and has more stars/likes than any libraries (rabbitMQ) I saw in the list :)

Best,

[2020-02-27 19:51] gromovadarya90 opened #2976 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 20:12] gromovadarya90 opened #2977 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 22:00] renata2216 opened #2978 "<SPAM REMOVED>"
<SPAM REMOVED>

[2020-02-27 22:10] kirillDanshin commented on #2978
This incident was reported to Github support with ticket # 580838.

[2020-02-27 22:10] #2978 closed

[2020-02-27 22:21] renata7738 opened #2979 "<spam, reported to github # 580927>"
<spam, reported to github # 580927>

[2020-02-27 22:24] renata7738 opened #2980 "<spam, reported to github # 580927>"
<spam, reported to github # 580927>

[2020-02-27 22:29] #2979 closed

[2020-02-27 22:29] #2980 closed

[2020-02-28 05:34] helen798 opened #2987 "hytgfghjuyhghjuyg"
kjuyg juyghyg jhjuhgbhj jhghjhgvb

[2020-02-28 06:26] helen78989 opened #2991 "I am looking for a guy to fuck ❤️"
I am looking for a guy to fuck ❤️

[2020-03-03 16:34] monfresh opened #2997 "Should gorilla/sessions be added?"
Hello. I am new to Go (coming from Ruby), and I've been looking for session management and authentication tools similar to what's built into Rails or Devise. I found a bunch of different tools, and one that seems very popular is [gorilla/sessions](https://github.com/gorilla/sessions), which is not listed here. Is there a reason why it's not listed? If not, I'd be happy to open a new PR.

[2020-03-14 04:05] panjf2000 commented on #2997
A PR is always welcome and any repo can be added into the awesome-go list as long as it meets our standards.

[2020-03-14 04:06] panjf2000 commented on #2972
A PR is always welcome and any repo can be added into the awesome-go list as long as it meets our standards.

[2020-03-14 09:15] panjf2000 opened #3014 "Replace godoc.org with pkg.go.dev in github bot"
Hi @avelino
I recently updated the contributing guidelines to replace godoc.org with pkg.go.dev, see https://github.com/avelino/awesome-go/commit/cff02f9ea2b3f8ab04bcdb5a9f2862a1a1809eb9 and the reason is that godoc.org is about to be deprecated, more details: [Next steps for pkg.go.dev](https://blog.golang.org/pkg.go.dev-2020).

So please make your github bot to be consistent with this godoc.org

[2020-03-17 08:56] #2972 closed

[2020-03-17 08:56] #2997 closed

[2020-03-24 16:27] cayter opened #3021 "[REQUEST] Add `appy` web framework"
Hi @avelino,

I have just recently finished the initial version of my web framework that is built on top of a few giants listed on `awesome-go`. I hope that doesn't violate any rules that forbids my repository from being listed on `awesome-go`. Thanks!

Repository: https://github.com/appist/appy
Documentation: https://appist.gitbook.io/appy/ (still updating, should be done in the next 2 weeks)

[2020-03-24 16:33] panjf2000 commented on #3021
Please open a PR if you want your repo to be added into the awesome-go list, this is an example: #2968

[2020-03-24 16:33] #3021 closed

[2020-03-24 16:35] cayter commented on #3021
Got it, thanks!

[2020-03-25 02:07] panjf2000 commented on #3014
I saw @avelino has done it, closed.

[2020-03-25 02:07] #3014 closed

[2020-03-30 16:15] orsinium commented on #2944
It was @avelino a year ago :)
https://github.com/avelino/awesome-go/commit/ee533006dac8d5782b09989c0038dbabb615c475
If I understand correctly, the motivation is that we don't need it anymore since netlify does the magic.

[2020-04-08 09:35] #2933 closed

[2020-04-11 05:02] ghostsquad opened #3045 "Add gotestsum"
I'd like to suggest that `gotestsum` be added.

https://github.com/gotestyourself/gotestsum

https://circleci.com/blog/level-up-go-test-with-gotestsum

[2020-04-15 19:14] ceriath commented on #3045
Hi,
please open a pull request, thanks!

[2020-04-15 19:14] #3045 closed

[2020-04-20 11:39] Ma124 commented on #1931
@avelino I wanted to re-ping this issue as the changes still would be useful, and could help with a lot of the other open issues.

Worth mentioning is that my proposal does render everything to a [static file][html] on `gh-pages` and therefore should not impact SEO ratings.
The sorting is done on the client-side instead. The program pulls the statistics, if triggered manually on Travis CI or autom

[2020-04-30 09:31] mlboy opened #3069 "add a ORM for golang"
https://github.com/rushteam/gosql

a easy ORM for golang

[2020-05-08 14:03] cyantarek opened #3079 "add gocraft/work"

[2020-05-08 15:35] panjf2000 commented on #3079
Please open a PR for it.

[2020-05-08 15:35] #3079 closed

[2020-05-09 10:49] panjf2000 commented on #3069
A PR is always welcome.

[2020-05-09 10:49] #3069 closed

[2020-05-18 21:59] VadimMalykhin opened #3096 "Fix #files anchor that conflict with a GitHub"
Anchor ``#files`` has conflict with a GitHub element ``<h2 id="files"  class="sr-only">Files</h2>`` that already in use above repository files listing so we're cannot go to the ``#files`` section using link in the contents.

Rename the ``#files`` anchor name to something else like this ``#Files`` (uppercase the first letter) or ``#files-anchor`` or ``#_files`` etc...

[2020-05-18 22:19] ceriath commented on #3096
Thanks for reporting! I fixed the issue by 4d97316

[2020-05-18 22:19] #3096 closed

[2020-05-20 17:05] HectorNM opened #3100 "Add Google's wire to Dependency Injection list"
It seems there's a wire lib listed for dependency injection (https://github.com/Fs02/wire), but wire created by Google is not listed (https://github.com/google/wire). Could you add it to the list, please? 😃

[2020-05-21 07:51] andig opened #3103 "lunixbochs/struc is missing"
While not full-featured and with rough edges it provides easy-to-using replacement for pythons pack/unpack. Like binpacker but with better interface. See https://github.com/lunixbochs/struc

[2020-05-21 09:34] panjf2000 commented on #3103
Please open a PR for it. Here is the example: #3056

[2020-05-21 09:34] #3103 closed

[2020-05-21 14:42] andig commented on #3103
Depending on repo owner to enable codecov. Not likely to happen...

[2020-05-21 14:59] panjf2000 commented on #3103
Any tool that provides code coverage service is ok, it doesn't have to be codecov, like https://gocover.io/github.com/lunixbochs/struc, it shows that `struc` has 91% which is good enough for PR.

However there are two code issues in `struc` [golint](https://goreportcard.com/report/github.com/lunixbochs/struc#golint) and [go_vet](https://goreportcard.com/report/github.com/lunixbochs/struc#go_vet) n

[2020-05-21 16:42] andig commented on #3103
Waiting for authors feedback. If ther‘s interest I‘m gonna help out as I‘m using struc myself.

[2020-06-12 03:41] thearyanahmed opened #3122 "https://awesome-go.com/ says page not found."
![image](https://user-images.githubusercontent.com/20617352/84462413-d2cade00-ac90-11ea-9eac-693d9a1d9cc9.png)

Will the domain be deprecated?

[2020-06-16 12:01] rsheasby opened #3129 "GoSlaves is a dead link"

[2020-06-16 15:57] tengattack opened #3130 "Support for arbitrary time format"
Hi,

How about this one:
https://github.com/tengattack/jodatime

;)

If you think it's useful, I could open a PR to add it.

Thank you

[2020-06-17 01:39] panjf2000 commented on #3130
Any PR is welcome, but please make sure that your repo meets our standards: [contribution guidelines](https://github.com/avelino/awesome-go/blob/master/CONTRIBUTING.md)

[2020-06-17 01:39] #3130 closed

[2020-06-17 01:43] panjf2000 commented on #3122
Last time I checked, https://awesome-go.com/ is available, maybe it's some kind of episodic problem, @avelino could check out the reason if you got some time, thanks~

[2020-06-17 01:43] #3122 closed

[2020-06-17 01:45] panjf2000 commented on #3100
awesome-go welcomes any PR, feel free to open a PR.

[2020-06-17 01:45] #3100 closed

[2020-06-17 01:46] panjf2000 commented on #3129
Thank you for the notice, would you care to open a PR to remove it?
@rsheasby

[2020-06-17 08:00] #3129 closed

[2020-07-10 08:17] avelino opened #3163 "Add last-commit "badges" to all github repos"
reference thread: https://github.com/avelino/awesome-go/pull/3154#issuecomment-653872980

[2020-07-13 10:25] #2944 closed

[2020-07-13 10:40] #2712 closed

[2020-07-13 10:44] avelino commented on #1931
Hey @Ma124, this being in **html** rendering I find valid (as discussed here #3163 https://github.com/avelino/awesome-go/pull/3154#issuecomment-655652053, but not in the readme/github render), can you assume this implementation along with this issue?

[2020-07-13 10:45] #1309 closed

[2020-07-13 13:28] xhit opened #3166 "Contribution Guidelines mention about software license"
Extracted from Contribution Guidelines:

I have some questions:

¿Package and projects are similar?, despite the answer, Why GoLand is in the list?

Can a contributor share a software made in pure Go but is not open source despite the user can use all the software only restricted with time like GoLand?

I'm investigating if https://dixer.stgo.do could apply to this awesome list.

Thanks!

[2020-07-13 14:39] ceriath commented on #3166
Hi,
the sentence in question is a very recent addition to the contribution guidelines (actually it was added 3 hours before this issue was created 9196c76). Therefore, it is very possible that some projects, like GoLand, would not meet this requirement. However, i personally would consider GoLand - and tools in general - not part of the list itself, more like an addendum. That's why there are thre

[2020-07-13 17:05] Ma124 commented on #1931
@avelino yes, I'd be very happy to do so.

[2020-07-18 06:55] qlcom opened #3172 "q: how can this repo needs an employ to maintain?"
what is happening. I can't understand.

[2020-07-21 21:11] qlcom commented on #3172
@avelino ?

[2020-07-21 22:25] avelino commented on #3172
sorry for the delay in answering

Thinking about improving the web project I'm talking to some possible sponsors to withstand the project, and we can finance the contribution of the maintainers, all gains and expenses will be open so everyone can see and understand where every penny goes.

- Improved web version (awesome-go.com), delivering a friendly rendering to Google (SEO) and users locate (fi

[2020-07-21 22:33] avelino commented on #3166
@ceriath how to guarantee minimum software quality without being able to see the code?

in my opinion the packages and projects should be with open source license, that's what I understood from this issue https://github.com/avelino/awesome-go/issues/2712 (that's why I generated this commit https://github.com/avelino/awesome-go/commit/9196c7660cfeaf654b8be1d80888a009fd471f09)

[2020-07-22 07:01] qlcom commented on #3172
@avelino no, i am not interested in contributing to this repo. This repo looks very bad. I think i should start one myself. And you don't need money to maintain such a list.

[2020-07-22 07:01] #3172 closed

[2020-07-22 07:42] avelino commented on #3172
I'm sorry, I'm trying to do my best

Do fork, so you don't need to start from scratch the work you can follow from the point you don't agree, the license we use is 100% permissive.

[2020-07-23 14:58] xhit commented on #3166
Ok, only open source projects, I got it.

In the future will be a section to closed source tools made in Go? I think will be great this section but also I think that projects needs to share more info like dependencies, Go version and other stuff.

For example, [Dixer](https://dixer.stgo.do) is a tool that uses a lot of Go open source libraries, and do things that in many cases the script generated

[2020-07-23 16:53] avelino commented on #3166
How would we do to guarantee the minimum quality if we don't have access to the code? If the closed source software has a network monitoring, malware or anything from the team, who would be recommending it is awesoem-go (community).

That's a complicated issue.

[2020-07-23 20:52] xhit commented on #3166
Well, if it's mandatory to see the code of project to be part of awesome go community, i got it, this community wants open source software.

Closing the issue because we don't have nothing to do here.

Thanks for this awesome repository.

[2020-07-23 20:52] #3166 closed

[2020-07-23 20:56] avelino commented on #3166
@xhit thank you for bringing questions that make us look at our review flow and reflect on whether we are on the best path.
Feel invited to help us keep awesome-go.

[2020-07-27 13:57] mazznoer opened #3181 "Color Libraries"
https://github.com/lucasb-eyer/go-colorful
Color processing library. It can convert color from one space to another, mixing / blending colors, calculate color distance.

https://github.com/mazznoer/colorgrad
Create color scale / color gradient for charts, maps, or creative coding.

[2020-07-28 11:34] avelino commented on #3181
@mazznoer you can propose the inclusion of these libraries by opening pull request, I recommend reading https://github.com/avelino/awesome-go/blob/master/CONTRIBUTING.md

[2020-07-28 11:34] #3181 closed

[2020-07-31 08:36] richardrigby opened #3191 "Add Gio project under GUI heading"
Gio implements portable immediate mode GUI programs in Go.

https://gioui.org/

[2020-08-02 18:51] ceriath commented on #3191
@richardrigby please open a pull request to propose new libraries, thank you!

[2020-08-02 18:51] #3191 closed

[2020-08-03 00:48] RaminCH opened #3194 "go"

[2020-08-03 06:43] #3194 closed

[2020-08-10 01:26] mrKappen opened #3204 "There appears to be a typo in the README.md file"
The phrase "hard working" should be "working hard"

[2020-08-10 01:30] mrKappen commented on #3204
I submitted a PR with the quick fix

[2020-08-10 16:17] avelino commented on #3204
@mrKappen send the change in that repository, not in your fork

[2020-08-10 16:22] mrKappen commented on #3204
oh whoops. I updated where the PR was pointing to

[2020-08-10 16:56] mrKappen commented on #1446
I am curious about projects that haven't been updated in years. If no one is maintaining them, should they still be included on the list?

[2020-08-10 17:51] avelino commented on #1446
It's a delicate subject, it has a project that hasn't been updated for many years and works super well.

But it would be interesting to have software to help us identify these projects and open an issue automatically to understand the time of the project, if the issue is not answered in X time with positive comment could be removed.

@mrKappen do you have any proposal to eat can do this?

[2020-08-10 17:54] #3204 closed

[2020-08-10 17:58] mrKappen commented on #1446
I think if a project has not received any commits for over a year, it might be a good idea to at least investigate it (perhaps new security vulnerabilities might have popped up). I like the idea of running a script which would notify you of such projects and automatically create an issue to investigate. Where might be a good place to host such a script?

[2020-08-10 18:05] avelino commented on #1446
@mrKappen can host at the [awesome-go](https://github.com/avelino/awesome-go) repository (at the root)

[2020-08-10 21:21] mrKappen commented on #1446
Would it make sense to add this as a test to repo_tests.go? If a listed repository fails a certain condition (ex. time from latest commit > 1 year) then fail?

[2020-08-11 12:58] avelino commented on #1446
I don't think it's good to put it in `repo_tests.go` so we don't run each PR, we'll do it in a new binary (ex `last_commit.go`, but write test 😄 ), so I put it to run periodically in a server.

[2020-08-11 13:24] pjebs commented on #1446
Some packages are featured complete and considered stable, hence no commits such as my https://github.com/rocketlaunchr/remember-go . I won't be updating it.

[2020-08-12 15:36] mrKappen commented on #1446
Hey @avelino I added a test script (not in repo_test.go) which goes through the list of repositories and creates an issue to investigate if the repository has not had a commit in over a year. I would love your feedback

[2020-08-12 18:01] avelino opened #3211 "Investigate if the package (repository) has not had a commit in over a year"
Software to help us identify these projects and open an issue automatically to understand the time of the project, if the issue is not answered in X time with positive comment could be removed.

ref: https://github.com/avelino/awesome-go/issues/1446#issuecomment-671497563

[2020-08-12 18:02] avelino commented on #1446
I've created a new issue to discuss this new feature, let's move this communication there #3211

[2020-08-12 18:02] #1446 closed

[2020-08-26 18:59] mrKappen opened #3223 "Investigate repositories with more than 1 year without update"
- [ ] https://github.com/algoGuy/EasyMIDI

- [ ] https://github.com/krig/go-sox

- [ ] https://github.com/tcolgate/mp3

- [ ] https://github.com/gordonklaus/portaudio

- [ ] https://github.com/wtolson/go-taglib

- [ ] https://github.com/mccoyst/vorbis

- [ ] https://github.com/mengzhuo/cookiestxt

- [ ] https://github.com/mikespook/gorbac

- [ ] https://github.com/goji/httpauth

- [ ] https://gith

[2020-08-26 19:01] #3223 closed

[2020-08-28 16:13] meloalright opened #3225 "Add guora under Other Software heading"
[Guora](https://github.com/meloalright/guora) is a self-hosted Quora like web application written in Go

[2020-08-31 09:16] YLQZ opened #3233 "add survey to Advanced Console UIs"
https://github.com/AlecAivazis/survey

[2020-09-01 13:54] mrKappen commented on #3211
@avelino I added a check for code 302 and 301 as well. The only issue I am still facing is handling hosts other than github

[2020-09-01 13:55] mrKappen commented on #3211
It might also be a good idea to add a light database that keeps track of flagged issues and does not flag the same issue again for atleast a year. What do you think?

[2020-09-01 14:36] avelino commented on #3211
at this first moment (version 0.1) I don't see the need, let's feel how the software (script) comes out running on github actions, from there we evolve it to a service containing database

you implement the action for github action?

[2020-09-10 07:39] qlcom opened #3243 "have a section mentioning other people's lists"
many of us can have our own list. have a section for mentioning some of them.

[2020-09-14 07:54] qlcom commented on #3243
no, i don't want that.

[2020-09-14 07:54] #3243 closed

[2020-09-17 23:46] xzjkya opened #3249 "[TYPO]: Audio and Music section in id3v2 topic"
`encodung` is giving me the nerves :rofl:

`id3v2 - Fast and powerful ID3 decoding and encodung library written completely in Go.`

[2020-09-24 02:30] mrKappen opened #3261 "Investigate repositories with more than 1 year without update"
- [ ] https://github.com/algoGuy/EasyMIDI

- [ ] https://github.com/krig/go-sox

- [ ] https://github.com/zhulik/go_mediainfo

- [ ] https://github.com/tcolgate/mp3

- [ ] https://github.com/wtolson/go-taglib

- [ ] https://github.com/mccoyst/vorbis

- [ ] https://github.com/mengzhuo/cookiestxt

- [ ] https://github.com/mikespook/gorbac

- [ ] https://github.com/goji/httpauth

- [ ] https://github

[2020-09-24 02:31] #3261 closed

[2020-09-24 21:21] #3211 closed

[2020-09-25 14:38] proyb6 opened #3263 "LXD to the list"
It appear that LXD was not part of the list since we know they have been in used for years.

LXD
LXD is a next generation system container and virtual machine manager.
https://github.com/lxc/lxd

[2020-09-28 22:21] mrKappen opened #3271 "Fix issues with workflow testing"
Workflow seems to have had some build issues. I modified the github action. the pr is #3270

[2020-09-28 22:23] mrKappen commented on #3271
hey @avelino. I noticed that the new workflow seems to have failed to run. I have added some modifications to the workflow that should address the issue.

[2020-10-08 05:30] euma3us commented on #3263
I've just created a  [pull request](https://github.com/avelino/awesome-go/pull/3280).

[2020-10-09 12:55] avelino commented on #3271
It's not working yet, can you review it?
https://github.com/avelino/awesome-go/runs/1204117398?check_suite_focus=true

[2020-10-09 12:55] #3263 closed

[2020-10-09 12:56] avelino commented on #3233
pls send PR, read more: https://github.com/avelino/awesome-go/blob/master/CONTRIBUTING.md

[2020-10-09 12:56] #3233 closed

[2020-10-09 12:56] avelino commented on #3225
pls send PR, read more: https://github.com/avelino/awesome-go/blob/master/CONTRIBUTING.md

[2020-10-09 12:56] #3225 closed

[2020-10-09 13:10] #3249 closed

[2020-10-10 20:19] mrKappen commented on #3271
Hey @avelino . Sure thing. I modified the workflow file which should fix the issue. It is scheduled to run every week, so it should run again soon

[2020-10-11 13:56] timkofu opened #3292 "Package Sort Order"
Are packages in each section sorted by stars?

[2020-10-11 19:49] mrKappen commented on #3271
Hey @avelino. The test_stale_repositories workflow requires an oauth token in order to be able create an issue. To set this up you need to do the following things:
1. create a personal access token (https://docs.github.com/en/free-pro-team@latest/github/authenticating-to-github/creating-a-personal-access-token)
2. add a secret to the avelino/awesome-go repository with the name OAUTH_TOKEN and the

[2020-10-11 21:44] avelino commented on #3271
done

[2020-10-11 21:45] avelino opened #3295 "Investigate repositories with more than 1 year without update"
- [ ] https://github.com/algoGuy/EasyMIDI

- [ ] https://github.com/krig/go-sox

- [ ] https://github.com/zhulik/go_mediainfo

- [ ] https://github.com/tcolgate/mp3

- [ ] https://github.com/wtolson/go-taglib

- [ ] https://github.com/mccoyst/vorbis

- [ ] https://github.com/mengzhuo/cookiestxt

- [ ] https://github.com/mikespook/gorbac

- [ ] https://github.com/goji/httpauth

- [ ] https://github

[2020-10-11 21:46] avelino commented on #3271
manual run: https://github.com/avelino/awesome-go/runs/1239337829?check_suite_focus=true
issue auto created: https://github.com/avelino/awesome-go/issues/3295

[2020-10-11 21:50] avelino commented on #3292
this is a long discussion, recommends reading this issue: https://github.com/avelino/awesome-go/issues/1931

the path we are following is this: https://github.com/avelino/awesome-go/issues/3163

[2020-10-11 21:50] #3292 closed

[2020-10-11 22:33] #3271 closed

[2020-10-18 00:28] avelino opened #3303 "Investigate repositories with more than 1 year without update"
- [ ] https://github.com/zpatrick/rbac

- [ ] https://github.com/icza/session

- [ ] https://github.com/f0rmiga/sessiongate-go

- [ ] https://github.com/sashka/signedvalue

- [ ] https://github.com/brianvoe/sjwt

- [ ] https://github.com/olebedev/go-tgbot

- [ ] https://github.com/sbstjn/hanu

- [ ] https://github.com/zhulik/margelet

- [ ] https://github.com/kyleterry/tenyks

- [ ] https://github

[2020-10-21 21:25] uded opened #3308 "Changelog of a sort - to follow easily what was added and when"
Currently I am an observer on Github, but this is a very inconvenient way to follow what is new on this awesome list. It would be great if there could be a changelog with dates or some other form available to see newly added libraries, projects, etc.

Maybe using semantic commits for that? Then the changelog can be actually easily generated...

[2020-10-22 16:03] avelino commented on #3308
I agree that this feature would be great, but we need to think about how to generate this changelog automatically.

It can be done by looking at the commit history and taking the diff to know what was changed, since this software is done, we can configure a cronjob (via GitHub action) to run once a week and generate a new structured markdown file and generate an html page for the site.

What do yo

[2020-10-22 16:47] uded commented on #3308
It's doable as long as there is a format of the commit message which we can follow. Hence my suggestion would be to use something like semantic commits, which can structurize the message. I.e.:

[code]

I am open for suggestions here on what would be the best format, but if we can enforce that the rest is easy to do...

[2020-10-22 17:15] avelino commented on #3308
ensure standard in commit would say it is impossible, many people do not follow the pull request template, I do not believe they will follow pattern to commit

we need to create an "intelligence" that identifies this in the received patch (git commit), example:
https://github.com/avelino/awesome-go/commit/d021e7af7d03718da37d53a54eabc95919d827cf?branch=d021e7af7d03718da37d53a54eabc95919d827cf&diff

[2020-10-23 02:12] mrKappen commented on #3308
you could perhaps use the heading to determine which category the added item would fit in and use that to create the changelog. That way you wouldn't have to rely on users following a particular format. This would also be backwards compatible and you could create the change log from the very beginning of this repo. Granted, this isn't a perfect solution, but it might be a decent enough way forward

[2020-10-23 12:33] uded commented on #3308
@avelino I think we can enforce some standards - using hooks. Sorry, if you want a standardization then just follow it or go away, simple as that. So instead of trying to work around people who do not care, maybe we shouldn't care instead. Simple as it is to implement a mechanism to create a changelog with a proper commit message, trying to figure out how to go around a problem of freely formatted

[2020-10-24 18:07] spencer1573 commented on #3295
I can take this. do you want them removed from the list if they haven't been contributed for a year?

[2020-10-25 00:32] avelino opened #3316 "Investigate repositories with more than 1 year without update"
- [ ] https://github.com/openshift/osin

- [ ] https://github.com/tcnksm/gcli

- [ ] https://github.com/docopt/docopt.go

- [ ] https://github.com/devfacet/gocmd

- [ ] https://github.com/chzyer/readline

- [ ] https://github.com/Zaba505/sand

- [ ] https://github.com/octago/sflags

- [ ] https://github.com/liujianping/ts

- [ ] https://github.com/ukautz/clif

- [ ] https://github.com/mingrammer/c

[2020-10-25 01:07] joaramirezra opened #3317 "improve Readme.md"

[2020-10-25 05:55] spencer1573 commented on #3295
I looked into these repos and submitted a pull request [here](https://github.com/avelino/awesome-go/pull/3318)

[2020-10-25 16:33] uded commented on #3308
After some investigations what I can see is a couple of options.

1. Conventional (well, sort of) commits + custom scripts
This is a rather simple solution in which AwesomeGo will have that enforce a format of each commit message to follow strict rules. We can use one of the GithubApps for that, as listed above. The format that I would be suggesting was also mentioned above: `[added|removed]({{cat